<div class="main_container">
  <div class="spacer"></div>
  <div class="row">
    <mat-card>
  <mat-card-subtitle class="sub-title">
        <h1 class="bold">Management</h1>
      </mat-card-subtitle>
      <div class="p-fluid">
      </div>
      <mat-card-content class="centeredBox">
        <hr class="divider">
        <div class="row">

          <div class="col-6 mb-2">
            <mat-card>
              <h3>Customer</h3>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" class="sizeImg" src="assets/img/1.png" (click)="openCustomer()">
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-6 mb-2">
            <mat-card>
              <h3>Transporter </h3>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" class="sizeImg" src="assets/img/1.png" (click)="openTransporter()">
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-6 mb-2">
            <mat-card>
              <h3>Goods </h3>
              <mat-card-title>

              </mat-card-title>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" src="assets/img/2.png" class="sizeImg" (click)="openGoods()">
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-6 mb-2">
            <mat-card>
              <h3>Truck </h3>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" src="assets/img/3.png" class="sizeImg" (click)="openTruck()">
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-6 mb-2">
            <mat-card>
              <h3>pallets </h3>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" src="assets/img/5.png" class="sizeImg" (click)="openPellets()">
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-6 mb-2">
            <mat-card>
              <h3>Configurations </h3>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" src="assets/img/5.png" class="sizeImg" (click)="openConfigurations()">
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-6 mb-2">
            <mat-card>
              <h3>Payment Methods </h3>
              <mat-divider inset></mat-divider>
              <mat-card-content class="itemCardContent">
                <img alt="Company" src="assets/img/5.png" class="sizeImg" (click)="openPaymentMethod()">
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
