

.itemCardContent{
    justify-content: center;
    cursor: pointer !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;

}
.itemCardContent:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

.zoom {
    width: 16rem;
    cursor: pointer !important;
    transition: transform .3s;
    transition: scroll 2s linear ;
    margin: 0 auto;
  }

  .zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  // walter  global css *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-*---*--*-*

  .sizeImg{
    width: 5rem;
    cursor: pointer !important;
}

  .col-6 {
  width: 99%;
}

.spacer {
  height: 1.2rem;
}


@media screen and (max-width: 1204px) and (min-width: 600px){
    .sizeImg{
    width: 6rem;
}

  .col-6 {
    width: 50%;
}

}
@media screen and (max-width: 2400px) and (min-width: 1204px){
    .sizeImg{
    width: 14rem;
}

  .col-6 {
  width: 25%;
}

}


