<div class="main_container">
  <app-transport-update *ngIf="displayModal" [childTransport]="parentTransport"></app-transport-update>
  <div class="row mt-2">
    <div>
      <a routerLink="/monitoring/index" pButton pRipple type="button" icon="pi pi-arrow-left"
        class="p-button-rounded back-button"></a>
    </div>
    <mat-card class="col-md-4">
      <mat-card-subtitle class="sub-title">
        <h3>Transport details</h3>
      </mat-card-subtitle>
      <hr class="divider">
      <div class="alert alert-secondary mat-card-button" role="alert">
        <span></span>
        <span>
          <button pButton pRipple type="button" icon="pi pi-download"
            class="p-button-rounded p-button-warning p-button-outlined"></button>
          &nbsp;
          <button (click)="showDestinationModal()" pButton pRipple type="button" icon="pi pi-pencil"
            class="p-button-rounded p-button-success"></button>
          &nbsp;
          <button (click)="decommissionTransport()" pButton pRipple type="button" icon="pi pi-trash"
            class="p-button-rounded p-button-warning"></button>
        </span>
      </div>
      <div class="mt-2">
        <h3 class="text-primary">
          General information
        </h3>
        <hr class="divider">
        <div class="row">
          <div class="col-12">
            <p><span class="text-darked">Customer name:</span> {{ transport?.carrierRef }}</p>
            <p><span class="text-darked">User company:</span> {{ transport?.userCompany }}</p>
            <p><span class="text-darked">Vehicle reference:</span> {{ transport?.vehicleRef }}</p>
            <p><span class="text-darked">Price:</span> {{ transport?.price }}</p>
            <p><span class="text-darked">Load date:</span> {{ transport?.loadDate | date: 'dd/MM/yyyy' }}</p>
            <p><span class="text-darked">Status:</span> {{ transport?.status }}</p>
            <p><span class="text-darked">Comment:</span> {{ transport?.comment }}</p>
          </div>
        </div>
      </div>
      <mat-card-content class="item-content">
      </mat-card-content>
    </mat-card>
    <div class="col section-card" id="map">
      <app-map></app-map> // TODO mapp
    </div>
  </div>
