.section-card {
  height: calc(100vh - 27vh);
  border-radius: 4px;
  background-color: rgba(9, 252, 252, 0.333);
}

.info-section p {
  line-height: 5px;
}

.info-section {
  padding: 15px;
}

.item-content {
  cursor: pointer !important;

  :hover {
    background-color: rgb(223, 223, 223);
  }
}

.status-button {
  color: #F7B71D !important;

  :hover {
    background-color: #F7B71D;
  }
}
.mat-card-button {
  display: flex;
  justify-content: space-between !important;
}
