<p-dialog header="{{ editDriversData ? 'Update Goods' : 'Add Goods' }}" [(visible)]="displayModal" [modal]="true"
  [style]="{width: '50vw'}" (onHide)="closeModal()">

  <p-tabView>
    <form [formGroup]="driversForm">
      <div class="p-fluid">
        <div class="row mt-2">
          <div class="p-field col-md-6">
            <label for="name" class="text-primary">Goods Name <span class="text-danger">*</span></label>
            <input id="name" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="name"
              type="text" pInputText placeholder="Enter name">
            <span class="text-danger">
              {{ formErrors?.['name'] }}
            </span>
          </div>

          <div class="p-field col-md-6">
            <label for="description" class="text-primary">Description <span class="text-danger">*</span></label>
            <input id="description" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['description'] }"
              formControlName="description" type="text" pInputText placeholder="Enter description">
            <span class="text-danger">
              {{ formErrors?.['description'] }}
            </span>
          </div>
        </div>
      </div>
    </form>

  </p-tabView>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="displayModal=false"></button>
    <button pButton pRipple type="submit" (click)="editDriversData ? updateDrivers(): addDrivers()" class="p-button-warning"
      label=" {{ editDriversData ? 'Update Goods' : 'Add Goods' }}"></button>
  </ng-template>
</p-dialog>
