<div class="main_container">
  <app-management-create-driver *ngIf="displayModal" [editDriversData]="selectedGood" (actiontoPerformed)="getAllGoods()">
  </app-management-create-driver>
  <div class="row">
    <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a>
    <mat-card>
      <mat-card-subtitle class="sub-title">
        <span>
          <button pRipple pButton type="button" class="p-button-primary purple" label="Export"
            icon="pi pi-file-excel"></button>
        </span>
        <span>&nbsp;
          <button pRipple pButton type="button" (click)="showModal()" class="p-button-warning purple" label="Add Goods"
            icon="pi pi-plus"></button>
        </span>
      </mat-card-subtitle>
      <hr class="divider">
    </mat-card>
    <mat-card>
      <div class="card">
        <p-table [value]="goodsList" [rows]="8" [paginator]="true"
          [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
          [(selection)]="selectedDriver" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <span>Goods</span>
              <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name" style="width: 10rem">Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>description</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-goodsList>
            <tr style="width: 3rem">
              <td>
                <p-tableCheckbox [value]="goodsList"></p-tableCheckbox>
              </td>
              <td>{{goodsList.name}}</td>
              <td>{{goodsList.description}}</td>
              <td>
                <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-primary mr-2"
                  (click)="editGoods(goodsList)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editGoods(goodsList)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteGoods(goodsList)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>
  </div>
  <p-confirmDialog [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  </p-confirmDialog>
</div>
