<div class="main_container">
  <div class="spacer-max"></div>
  <div class="searchAndOrder">
    <mat-card style="width:20%;padding: .4rem;">
      <div class="feature-left searchAndOrder-column">
        <div class="feature-icon">
          <mat-icon>assignment</mat-icon>
        </div>
        <div class="feature-content">
          <mat-card-subtitle>Number of transports</mat-card-subtitle>
          <mat-card-title>XX</mat-card-title>
        </div>
      </div>
    </mat-card>
    <mat-card style="width:20%;padding: .4rem;">
      <div class="feature-left searchAndOrder-column">
        <div class="feature-icon">
          <mat-icon>directions_bus</mat-icon>
        </div>
        <div class="feature-content">
          <mat-card-subtitle>Number of transports</mat-card-subtitle>
          <mat-card-title>6</mat-card-title>
        </div>
      </div>
    </mat-card>
    <mat-card style="width:20%;padding: .4rem;">
      <div class="feature-left searchAndOrder-column">
        <div class="feature-icon">
          <mat-icon>assignment</mat-icon>
        </div>
        <div class="feature-content">
          <mat-card-subtitle>Number of transports</mat-card-subtitle>
          <mat-card-title>XX</mat-card-title>
        </div>
      </div>
    </mat-card>
    <mat-card style="width:20%;padding: .4rem;">
      <div class="feature-left searchAndOrder-column">
        <div class="feature-icon">
          <mat-icon>remove_circle_outline</mat-icon>
        </div>
        <div class="feature-content">
          <mat-card-subtitle>Number of Litigation</mat-card-subtitle>
          <mat-card-title>4</mat-card-title>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="filteredElement">
    <div *ngIf="storedPayload.code" [ngClass]="{'coming-soon':clicked }">
      <span *ngIf="clicked" style="font-weight: bold;color:#D38CBC">Code: </span>{{storedPayload.code}}
      <span *ngIf="clicked" (click)="setSearch(''+1)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.orderRef" [ngClass]="{'coming-soon':clicked1 }">
      <span *ngIf="clicked1"  style="font-weight: bold;color:#D38CBC">Reference orders: </span>{{storedPayload.orderRef}}
      <span *ngIf="clicked1" (click)="setSearch(''+2)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.carrierRef" [ngClass]="{'coming-soon':clicked2 }">
      <span *ngIf="clicked2"  style="font-weight: bold;color:#D38CBC">Reference carrier: </span>{{storedPayload.carrierRef}}
      <span *ngIf="clicked2" (click)="setSearch(''+3)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.driverRef" [ngClass]="{'coming-soon':clicked3 }">
      <span *ngIf="clicked3"  style="font-weight: bold;color:#D38CBC">Reference driver: </span>{{storedPayload.driverRef}}
      <span *ngIf="clicked3" (click)="setSearch(''+4)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.vehicleRef" [ngClass]="{'coming-soon':clicked4 }">
      <span *ngIf="clicked4"  style="font-weight: bold;color:#D38CBC">Reference vehicle: </span>{{storedPayload.vehicleRef}}
      <span *ngIf="clicked4" (click)="setSearch(''+5)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.startDate!=currentDate" [ngClass]="{'coming-soon':clicked5 }">
      <span *ngIf="clicked5"  style="font-weight: bold;color:#D38CBC"> Start date:  </span>{{storedPayload.startDate}}
      <span *ngIf="clicked5" (click)="setSearch(''+6)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.endDate!=currentDate" [ngClass]="{'coming-soon':clicked6 }">
      <span *ngIf="clicked6"  style="font-weight: bold;color:#D38CBC">End date: </span>{{storedPayload.endDate}}
      <span *ngIf="clicked6" (click)="setSearch(''+7)" class="badgeW">
        x
      </span>
    </div>
    <div *ngIf="storedPayload.status!='CREATED'" [ngClass]="{'coming-soon':clicked7 }">
      <span *ngIf="clicked7"  style="font-weight: bold;color:#D38CBC">Status: </span>{{storedPayload.status}}
      <span *ngIf="clicked7" (click)="setSearch(''+8)" class="badgeW">
        x
      </span>
    </div>
  </div>
  <div class="row mt-2">
    <mat-card>
          <span>
            <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '20rem'}">
              <ng-template pTemplate>
                <form [formGroup]="searchForm">
                  <div style="display: flex;flex-direction:column;">
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Start date</label>
                      <input type="date" formControlName="startDate" value={{currentDate}} placeholder={{currentDate}} pInputText style="width:15rem">
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">End date</label>
                      <input type="date" formControlName="endDate" pInputText style="width:15rem" value={{currentDate}}   placeholder={{currentDate}} >
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Status</label>
                      <select formControlName="status" pInputText style="width:15rem" placeholder="Status">
                        <option value="" disabled selected>Select status</option>
                        <option *ngFor="let item of status" value="{{ item.name }}">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Code</label>
                      <span class="p-input-icon-right">
                        <input formControlName="code" type="text" pInputText style="width:15rem" placeholder="code" />
                      </span>
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Reference orders</label>
                      <span class="p-input-icon-right">
                        <input formControlName="refOrd" type="text" pInputText style="width:15rem" placeholder="Reference orders" />
                      </span>
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Reference carriers</label>
                      <span class="p-input-icon-right">
                        <input formControlName="refCar" type="text" pInputText style="width:15rem" placeholder="Reference carriers" />
                      </span>
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Reference Drivers</label>
                      <span class="p-input-icon-right">
                        <input formControlName="refDri" type="text" pInputText style="width:15rem" placeholder="Reference Drivers" />
                      </span>
                    </div>
                    <div class="spacer-min"></div>
                    <div class="p-field col-6">
                      <label for="param" class="text-primary">Reference vehicle</label>
                      <span class="p-input-icon-right">
                        <input formControlName="refVeh" type="text" pInputText style="width:15rem" placeholder="Reference vehicle" />
                      </span>
                    </div>
                    <div class="spacer-max"></div>
                    <div class="centeredBox">
                      <button pButton pRipple type="submit" (click)="op.hide()" (click)="getTransports()" label="Load" icon="pi pi-search"
                        class="addButton"></button>
                    </div>
                  </div>
                </form>
              </ng-template>
            </p-overlayPanel>
            <div>
              <div>
                <button type="text" pButton label="Search " icon="pi pi-search" class="addButton" (click)="initialize()" (click)="op.toggle($event)"></button>
              </div>
              <div class="spacer-min"></div>
            </div>
          </span>
      <mat-card-content>
        <div class="row">
          <div class="col-md-3" *ngFor="let number of [0,1,2,3,4,5,6,7]">
            <app-seleton-loader *ngIf="!loader" Cwidth="400" Cheight="250"></app-seleton-loader>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-2" *ngFor="let transport of obs | async">
            <mat-card>
              <h4>OT: {{transport.code}}</h4>
              <mat-card-subtitle>
                <div class="row bold">
                </div>
              </mat-card-subtitle>
              <mat-card-content>
                <p><span class="text-darked">Customer price:</span> {{ transport.price }}</p>
                <p><span class="text-darked"></span>Transport price: {{ transport.price }}</p>
                <p><span class="text-darked">Order reference:</span> {{ transport.orderRef }}</p>
                <p><span class="text-darked">User company:</span> {{ transport.userCompany }}</p>
                <p><span class="text-darked">Vehicle reference:</span> {{ transport.vehicleRef }}</p>
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions class="mat-card-button">
                <span>
                  <div class="dropdown">
                    <button class="btn btn-primary" style="background-color:#D38CBC !important;border:#D38CBC" [ngClass]="{'disabled' : transport.status === 'DELIVERED'}"
                      [ngClass]="{'dropdown-toggle' : transport.status != 'DELIVERED'}" type="button" id="status"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      {{ transport.status }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="status" *ngIf="transport.status != 'DELIVERED'">
                      <li (click)="setTransportStatus(transport, 'LOADED')" *ngIf="transport.status != 'LOADED'"><span
                          class="dropdown-item" href="#">LOADED</span>
                      </li>
                      <li (click)="setTransportStatus(transport, 'DELIVERED')"
                        *ngIf="transport.status != 'DELIVERED' && transport.status === 'LOADED'">
                        <span class="dropdown-item" href="#">DELIVERED</span>
                      </li>
                    </ul>
                  </div>
                </span>
                <span>
                  <button pButton pRipple style="background-color:#D38CBC !important;border:#D38CBC;color: #fff;" type="button" icon="pi pi-download"
                    class="p-button-rounded p-button-warning p-button-outlined"></button>
                  &nbsp;
                  <a [routerLink]="['/transport/detail', transport.code]" pButton style="background-color:#D38CBC !important;border:#D38CBC"  pRipple type="button" icon="pi pi-eye"
                    styleClass="p-button-sm" class="p-button-rounded p-button-warning"></a>
                </span>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <mat-paginator [pageSizeOptions]="[8, 16, 32, 64]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--  redesign of transport -->

