.stat-card {
  box-shadow: 0px 25px 30px #0000001A;
}

.info-section p {
  line-height: 5px;
}

.info-section {
  padding: 15px;
}

.item-content {
  cursor: pointer !important;

  :hover {
    background-color: rgb(223, 223, 223);
  }
}

.feature-left {

}

.feature-left .feature-icon {
  font-size: 50px;
  color: #4791FF;
  display: inline-block;
  float: left;
  padding-right: 40px;
  padding-top: 7px;
}

.feature-left .feature-content {
  font-size: 20px;
}

p {
  line-height: 1rem;
}

.mat-card-button {
  display: flex;
  justify-content: space-between !important;
}

.dropdown ul li {
  cursor: pointer
}

//walter css *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-**-*-*-*-*-*-*--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*--*
.sub-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--regular-size);
}


.spacer {
  height: 1.2rem;
}

.filteredElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
 background-color: #d5e2f7;
 color: var(--secondBackground-color);
 padding: .3rem;
 border-radius: .4rem;
 margin: 1.7rem 1rem .8rem;
  position: relative;
  //margin-left: .8rem;
  display: inline-block;
}

.badgeW {
    position: absolute;
    /* z-index: 3; */
    border-radius: 50%;
    background-color: #fbeaea;
    color: #0c143c;
    height: 1.5rem;
    width: 1.5rem;
    top: -8px;
    font-weight: 600;
    right: 2.8;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border: 3px solid #D38CBC
}

label {
  width: max-content;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 1rem;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}

.spacer-max {
  height: 1.2rem;
}

.spacer-min {
  height: 1rem;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}

.searchAndOrder {
  display: flex;
  justify-content: space-between;
}

.searchAndOrder-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .col-6 {
  width: 100%;
}

@media screen and (max-width: 904px) and (min-width: 600px){
    .col-6 {
  width: 50%;
}
}
@media screen and (max-width: 1204px) and (min-width: 905px){
    .col-6 {
  width: 25%;
}
.searchAndOrder-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
@media screen and (max-width: 2400px) and (min-width: 1204px){
    .col-6 {
  width: 30%;
}

.searchAndOrder-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

}
