

  <p-sidebar styleClass="olverlayCT"  [(visible)]="displayedSideModal" position="right" [modal]="true" [baseZIndex]="9999" 
  (onHide)="closeSideModal()" [style]="{width:'45%'}">
  <h1 class="text-warning">Transporter : <span class="text-primary">{{ transporterForDetail?.name }}</span> </h1>
  <p-divider type="dashed"></p-divider>
  <p-button label="Add Banking Info" icon="pi pi-plus" (click)="op.show($event)" styleClass="p-button-sm"></p-button>
  &nbsp;
  <p-button label="Add driver" icon="pi pi-plus" (click)="oD.show($event)" styleClass="p-button-sm"></p-button>&nbsp;
  <p-button label="Add Trucks" icon="pi pi-plus" (click)="oT.show($event)" styleClass="p-button-sm"></p-button>
  <p-divider type="dashed"></p-divider>
  <div class="contairner">
    <h2> <span class="text-primary">General info </span></h2>
    <div class="grid">
      <div class="row">
        <div class="col-md-6">
          <h4><span class="Tgras">Name :</span> {{ transporterForDetail?.name }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Vat</span> : {{ transporterForDetail?.tva }}</h4>
        </div>
        <div class="col-md-6 ">
          <h4><span class="Tgras">Country :</span> {{ transporterForDetail?.Country }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">ZipCode :</span> {{ transporterForDetail?.zipCode }}</h4>
        </div>
        <div>
          <h4><span class="Tgras">city :</span> {{ transporterForDetail?.city }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Address :</span> {{ transporterForDetail?.address }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Phone :</span> {{ transporterForDetail?.phone }}</h4>
        </div>
        <div class="col-md-6 ">
          <h4><span class="Tgras">fax :</span> {{ transporterForDetail?.fax }}</h4>
        </div>
        <div class="col-md-6 ">
          <h4><span class="Tgras">siren :</span> {{ transporterForDetail?.siren }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">siren :</span> {{ transporterForDetail?.siren }}</h4>
        </div>

      </div>
      <div class="row">

        <p-divider></p-divider>
        <h2> <span class="text-primary">Assurances</span> </h2>

        <div class="col-md-6">
          <h4><span class="Tgras">AssuranceDate :</span>
            {{ transporterForDetail.assuranceDate | date: 'MM/dd/yyyy hh:mm'  }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">paymentPeriod :</span> {{ transporterForDetail?.paymentPeriod }}</h4>
        </div>
      </div>
      <p-divider></p-divider>


      <!-- Banking Info Table -->
      <h2><span class="text-primary">bankingInfos:</span> </h2>
      <div class="card">
        <p-table [value]="transporterBankingInfoList" dataKey="id" editMode="row" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Iban</th>
              <th>Bic</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transporterBankingInfoList let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="transporterBankingInfoList"
              class="{{ transporterBankingInfoList.status === 'ACTIVATED' ? '':'text-danger' }}">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterBankingInfoList.iban">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterBankingInfoList?.iban}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterBankingInfoList.bic" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterBankingInfoList?.bic}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td style="text-align:center">
                <button *ngIf="!editing && bankingInfo.status === 'ACTIVATED'" pButton pRipple type="button"
                  pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(transporterBankingInfoList)"
                  class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  (click)="onRowEditSave(transporterBankingInfoList)"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancel(transporterBankingInfoList)"
                  class="p-button-rounded p-button-text p-button-danger"></button>
                <button *ngIf="transporterBankingInfoList.status === 'ACTIVATED'" pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteBankingInfo(transporterBankingInfoList)"></button>
                <button *ngIf="transporterBankingInfoList.status === 'BLOCKED'" pButton pRipple icon="pi pi-lock-open"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteBankingInfo(transporterBankingInfoList)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <p-divider></p-divider>

      <!-- Driver Table -->
      <h2><span class="text-primary">Driver:</span> </h2>
      <div class="card">
        <p-table [value]="transporterDriverList" dataKey="id" editMode="row" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transporterDriverList let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="transporterDriverList"
              class="{{ transporterDriverList.status === 'ACTIVATED' ? '':'text-danger' }}">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterDriverList.name">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterDriverList.name}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterDriverList.surname">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterDriverList.surname}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterDriverList.phone">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterDriverList.phone}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <button *ngIf="!editing && transporterDriverList.status === 'ACTIVATED'" pButton pRipple type="button"
                  pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(transporterDriverList)"
                  class="p-button-rounded p-button-text"></button>
                <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                  (click)="updateTransporterDriver(transporterDriverList)"
                  class="p-button-rounded p-button-text p-button-success mr-2"></button>
                <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                  (click)="onRowEditCancel(transporterDriverList)"
                  class="p-button-rounded p-button-text p-button-danger"></button>
                <button *ngIf="transporterDriverList.status === 'ACTIVATED'" pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-warning" (click)="deleteDriver(transporterDriverList)"></button>
                <button style="text-align:center" *ngIf="transporterDriverList.status === 'BLOCKED'" pButton pRipple
                  icon="pi pi-lock-open" class="p-button-rounded p-button-warning"
                  (click)="deleteDriver(transporterDriverList)"></button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <p-divider></p-divider>
      <!-- Truck Table -->
      <h2><span class="text-primary">Truck:</span> </h2>
      <div class="card">
        <p-table [value]="transporterTruckList" dataKey="id" editMode="row" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Mpl</th>
              <th>Tonnage</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transporterTruckList let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="transporterTruckList"
              class="{{ transporterTruckList.status === 'ACTIVATED' ? '':'text-danger' }}">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterTruckList.name">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterTruckList.name}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterTruckList.mpl">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterTruckList.mpl}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterTruckList.tonnage">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterTruckList.tonnage}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="transporterTruckList.description">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{transporterTruckList.description}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td>
                <button *ngIf="transporterTruckList.status === 'ACTIVATED'" pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteTransporterTruck(transporterTruckList)"></button>
                <button style="text-align:center" *ngIf="transporterTruckList.status === 'BLOCKED'" pButton pRipple
                  icon="pi pi-lock-open" class="p-button-rounded p-button-warning"
                  (click)="deleteDriver(transporterTruckList)"></button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>


    </div>

    <!-- BankingInfo -->
    <p-overlayPanel #op [showCloseIcon]="true">
      <ng-template pTemplate>
        <form [formGroup]="bankingInfoForm" (ngSubmit)="addBankingInfo()">

          <div class="p-fluid">
            <div class="row mt-2">
              <div class="p-field col-md-12">
                <span class="text-danger">
                  {{ formErrors?.['transporter'] }}
                </span>
              </div>
            </div>

            <div class="row mt-2">
              <div class="p-field col-md-6">
                <label for="iban" class="text-primary">iban <span class="text-danger">*</span></label>
                <input id="iban" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['iban'] }" formControlName="iban"
                  type="text" pInputText placeholder="Enter iban">
                <span class="text-danger">
                  {{ formErrors?.['iban'] }}
                </span>
              </div>

              <div class="p-field col-md-6">
                <label for="bic" class="text-primary">bic <span class="text-danger">*</span></label>
                <input id="bic" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['bic'] }" formControlName="bic"
                  type="text" pInputText placeholder="Enter bic">
                <span class="text-danger">
                  {{ formErrors?.['bic'] }}
                </span>
              </div>
            </div>
          </div>
          <span class="pfleft"><br>
            <button pButton pRipple type="button" label="save" class="p-button-warning"
              (click)="addBankingInfo()"></button>
          </span><br> <br> <br>

        </form>

      </ng-template>
    </p-overlayPanel>
    <div #actualTarget></div>

    <!-- Driver -->
    <p-overlayPanel #oD [showCloseIcon]="true">
      <ng-template pTemplate>
        <form [formGroup]="driverForm">
          <div class="p-fluid">
            <div class="row mt-2">
              <div class="p-field col-md-6">
                <label for="name" class="text-primary">Driver Name <span class="text-danger">*</span></label>
                <input id="name" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="name"
                  type="text" pInputText placeholder="Enter name">
                <span class="text-danger">
                  {{ formErrors?.['name'] }}
                </span>
              </div>

              <div class="p-field col-md-6">
                <label for="surname" class="text-primary">Surname <span class="text-danger">*</span></label>
                <input id="surname" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['surname'] }"
                  formControlName="surname" type="text" pInputText placeholder="Enter Surname">
                <span class="text-danger">
                  {{ formErrors?.['surname'] }}
                </span>
              </div>
            </div>

            <div class="row mt-2">
              <div class="p-field col-md-6">
                <label for="phone" class="text-primary">Phone <span class="text-danger">*</span></label>
                <input id="phone" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['phone'] }" formControlName="phone"
                  type="number" pInputText placeholder="Enter phone number">
                <span class="text-danger">
                  {{ formErrors?.['phone'] }}
                </span>
              </div>

              <div class="p-field col-md-6">
                <label for="email" class="text-primary">Email <span class="text-danger">*</span></label>
                <input id="email" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['email'] }" formControlName="email"
                  type="email" pInputText placeholder="Enter email">
                <span class="text-danger">
                  {{ formErrors?.['email'] }}
                </span>
              </div>

            </div>

          </div>
          <span class="pfleft"><br>
            <button pButton pRipple class="p-button-warning" label="Add Driver" (click)="addDriver()"></button>
          </span><br> <br> <br>
        </form>

      </ng-template>
    </p-overlayPanel>
    <div #actualTarget></div>

    <!-- //Truck -->
    <p-overlayPanel #oT [showCloseIcon]="true" [style]="{width:'30em'}">
      <ng-template pTemplate>
        <form [formGroup]="truckForm">
          <div class="p-fluid">
            <div class="row mt-2">

              <div class="p-field col-md-12">
                <label for="surname" class="text-primary">Truck <span class="text-danger">*</span></label>
                <p-multiSelect [options]="truckList" formControlName="truck" defaultLabel="Select a Truck(s)"
                  optionLabel="name" display="chip"></p-multiSelect>
                <span class="text-danger">
                  {{ formErrors?.['truck'] }}
                </span>
              </div>
            </div>

          </div>
          <span class="pfleft"><br>
            <button pButton pRipple class="p-button-warning" label="Add Truck"
              (click)="addTruckOnTransporter()"></button>
          </span><br> <br> <br>
        </form>

      </ng-template>
    </p-overlayPanel>
    <div #actualTarget></div>

  </div>
</p-sidebar>


