:host {
    ::ng-deep .p-sidebar-content {
        background-color: #ffffff;
        background-image:none;
        border:none;
        color:black;

        
    }    
}

:host {
    ::ng-deep .p-sidebar-header {
        background-color: #ffffff;
        background-image:none;
        border:none;
        color:black;
    }    
}


:host {
    ::ng-deep .p-divider{
        background-color: #cc1919;
        color: #cc1919;
    }    
}

.Tgras{
    font-weight: bold
}

::ng-deep .p-sidebar-mask.p-component-overlay {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: calc(100vW - 45vW) !important;
    height: 100% !important;
  }
  
