<div class="main_container">
  <app-management-detail-transporter *ngIf="displayedSideModal" [transporterForDetail]="transporterDetail"
    (actiontoPerformed)="getAllTransporter()"></app-management-detail-transporter>
  <app-management-create-transporter *ngIf="displayModal"
    [ObjecFromTransporterParentForUpdate]="ObjecFromTransporterParentForUpdate"
    (actiontoPerformed)="getAllTransporter()"></app-management-create-transporter>

      <div class="previousAndAddCustomer">
        <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
          class="p-button-rounded back-button" style="color:#D38CBC!important"></a>
      </div>

      <span>
        <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '20rem'}">
          <ng-template pTemplate>
            <form [formGroup]="searchForm">
              <div style="display: flex;flex-direction:column;">
                <div class="spacer-min"></div>

                <div class="p-field col-6">
                  <label for="param" class="text-primary">NAME</label>
                  <span class="p-input-icon-right">
                    <input formControlName="name" type="text" pInputText style="width:15rem" placeholder="name" />
                  </span>
                </div>
                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="param" class="text-primary">TVA</label>
                  <span class="p-input-icon-right">
                    <input formControlName="tva" type="text" pInputText style="width:15rem" placeholder="vat" />
                  </span>
                </div>
                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="loadCountryCode" class="text-primary">LOAD COUNTRY</label>
                  <ng-select [loading]="spinner" [items]="countries" bindLabel="name" bindValue="code"
                    (change)="getCountriesByEvent($event)" (open)="getCountries()" formControlName="loadCountryCode"
                    style="width: 15rem;">
                  </ng-select>
                </div>
                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="param" class="text-primary">CITY</label>
                  <p-autoComplete formControlName="city" [style]="{'width':'15rem'}" [inputStyle]="{'width': '100%'}"
                    [suggestions]="cities" (completeMethod)="getCities($event)" autocomplete="rutjfkde" field="name"
                    placeholder="load city">
                    <ng-template let-city pTemplate="item">
                      <div class="city-item">
                        <div>{{city.name}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="param" class="text-primary">EMAIL</label>
                  <span class="p-input-icon-right">
                    <input formControlName="email" type="text" pInputText style="width:15rem" placeholder="email" />
                  </span>
                </div>

                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="param" class="text-primary">PHONE</label>
                  <span class="p-input-icon-right">
                    <input formControlName="phone" type="tel" pInputText style="width:15rem" placeholder="Phone" />
                  </span>
                </div>
                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="param" class="text-primary">STATUS</label>
                  <select formControlName="status" pInputText style="width:15rem" placeholder="Status">
                    <option value="" disabled selected>Select status</option>
                    <option *ngFor="let status of allStatus" [value]="status.id">{{ status.name }}</option>
                  </select>
                </div>
                <div class="spacer-min"></div>
                <div class="p-field col-6">
                  <label for="loadZipCode" class="text-primary">LOAD ZIP CODE</label>
                  <p-dropdown [options]="zipCodes" [style]="{'width':'15rem'}" formControlName="loadZipCode"
                    optionLabel="name" placeholder="load zip code">
                  </p-dropdown>
                </div>
                <div class="spacer-max"></div>
                <div class="centeredBox">
                  <button pButton pRipple type="submit" (click)="op.hide()" (click)="getAllTransporter()" label="Load"
                    icon="pi pi-search" class="addButton"></button>
                </div>
              </div>
            </form>
          </ng-template>
        </p-overlayPanel>
        <div>

          <div class="spacer-min"></div>
        </div>
        <div class="showDesktop">
          <div class="searchAndOrder ">
            <button type="text" pButton label="Filter" icon="pi pi-search" class="addButton" (click)="op.toggle($event)"
              (click)="initialize()"></button>
            <span>
              <a (click)="showModal()" pRipple pButton type="button" class="p-button-warning purple addButton"
                label="Add Customer" icon="pi pi-plus"></a>
            </span>
          </div>
        </div>
      </span>

            <!-- <form [formGroup]="searchForm">

              <div class="fixInCenter">
                <div class="searchContainer">
                  <div style="display: flex;flex-direction:column">
                    <label for="icoren" style="color:#818D9F!important ;">Parameter</label>
                    <span class="p-input-icon-left ">
                      <input pInputText type="text" formControlName="param" placeholder="" class="p-inputtext-sm fixInputWidth" />
                      <i class="pi pi-search"></i>
                    </span>
                  </div>
                  <div style="display: flex;flex-direction:column">
                    <label for="ifcon" style="color:#818D9F!important ;">Status</label>
                    <ng-select formControlName="status" placeholder="select" class="fixInputWidth">
                      <ng-option class="p-inputtext-sm" class="onTop" *ngFor="let status of allStatus" [value]="status.id">
                        {{ status.name }}
                      </ng-option>
                    </ng-select>

                  </div>
                  <button (click)="getAllTransporter()" pRipple pButton type="button" class="p-button-warning purple" label="Search"
                    icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"
                    style="background-color:#D38CBC;border:#D38CBC;height: 2.2rem;">
                  </button>

                </div>
              </div>

            </form> -->

  <div class="row">
    <!-- <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a> -->

    <div class="filteredElement">
      <div *ngIf="name " [ngClass]="{'coming-soon':clicked }">
        <span *ngIf="clicked"><b style="font-weight: bold;color:#D38CBC"> name: </b>{{name}} </span>
        <span *ngIf="clicked" (click)="setSearch(''+1)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="tva" [ngClass]="{'coming-soon':clicked1 }">
        <span *ngIf="clicked1"><b style="font-weight: bold;color:#D38CBC"> vta:</b>{{tva}}</span>
        <span *ngIf="clicked1" (click)="setSearch(''+2)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="city " [ngClass]="{'coming-soon':clicked2 }">
        <span *ngIf="clicked2"><b style="font-weight: bold;color:#D38CBC"> city :</b>{{city}}</span>
        <span *ngIf="clicked2" (click)="setSearch(''+3)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="phone " [ngClass]="{'coming-soon':clicked3 }">
        <span *ngIf="clicked3"><b style="font-weight: bold;color:#D38CBC"> phone: </b>{{phone}}</span>
        <span *ngIf="clicked3" (click)="setSearch(''+4)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="email" [ngClass]="{'coming-soon':clicked4 }">
        <span *ngIf="clicked4"> <b style="font-weight: bold;color:#D38CBC">email: </b>{{email}}</span>
        <span *ngIf="clicked4" (click)="setSearch(''+5)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="loadCountryCode " [ngClass]="{'coming-soon':clicked5 }">
        <span *ngIf="clicked5"><b style="font-weight: bold;color:#D38CBC">load country code: </b>{{loadCountryCode}}</span>
        <span *ngIf="clicked5" (click)="setSearch(''+6)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="statusE" [ngClass]="{'coming-soon':clicked6 }">
        <span *ngIf="clicked6"><b style="font-weight: bold;color:#D38CBC">status: </b>{{statusE}}</span>
        <span *ngIf="clicked6" (click)="setSearch(''+7)" class="badgeW">
          x
        </span>
      </div>
      <div *ngIf="loadZipCode" [ngClass]="{'coming-soon':clicked7 }">
        <span *ngIf="clicked7"><b style="font-weight: bold;color:#D38CBC">load zip code: </b>{{loadZipCode}}</span>
        <span *ngIf="clicked7" (click)="setSearch(''+8)" class="badgeW">
          x
        </span>
      </div>
    </div>
    <mat-card>

<br>

      <div class="card">
        <p-table [value]="TransportersList" [rows]="8" [paginator]="true"
          [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
          [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flexHeader">
              <div class="flex align-items-center justify-content-between">
                <span>Transporter</span>
              </div>
              <a pRipple (click)="exportExcel()" pButton type="button" class="p-button-warning purple addButton" label="Export"
                icon="pi pi-file-excel"></a>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <!-- <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th> -->
              <th  style="width: 10rem">Name </th>
              <th>Vat</th>
              <th style="width: 10rem">Country</th>
              <th style="width: 10rem">city
              </th>
              <th style="width: 10rem">phone </th>
              <th style="width: 10rem">email </th>
              <th>status </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transporterDataForPagination>
            <tr style="width: 3rem"
              class="{{ transporterDataForPagination.status === 'ACTIVATED' ? '':'text-danger' }}">
              <!-- <td>
                <p-tableCheckbox [value]="transporterDataForPagination"></p-tableCheckbox>
              </td> -->
              <td>{{transporterDataForPagination.name}}</td>
              <td>{{transporterDataForPagination.tva}}</td>
              <td>{{transporterDataForPagination.countryCode}}</td>
              <td>{{transporterDataForPagination.city}}</td>
              <td>{{transporterDataForPagination.phone}}</td>
              <td>{{transporterDataForPagination.email}}</td>
              <td>{{transporterDataForPagination.status}}</td>
              <td>
                <button pButton pRipple icon="pi pi-arrow-up-right" class="p-button-rounded p-button-primary mr-2"
                  (click)="detailTransporter(transporterDataForPagination)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editTransporter(transporterDataForPagination)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteTransporter(transporterDataForPagination)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>
  </div>
</div>
