<p-dialog header="{{ editPalletsData ? 'Update Pallets' : 'Add Pallets' }}" [(visible)]="displayModal" [modal]="true"
  [style]="{width: '50vw'}" (onHide)="closeModal()">

  <p-tabView>
    <!-- <p-tabPanel  header="Transporter"></p-tabPanel> -->
    <form [formGroup]="palletsForm">
      <div class="p-fluid">
        <div class="row mt-2">
          <div class="p-field col-md-12">
            <label for="type" class="text-primary">Type of pallets <span class="text-danger">*</span></label>
            <input id="type" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="type"
              type="text" pInputText placeholder="Enter type of pallets">
            <span class="text-danger">
              {{ formErrors?.['type'] }}
            </span>
          </div> 
        </div>
        <div class="row mt-2">

          <div class="p-field col-md-6">
            <label for="length" class="text-primary">Length <span class="text-danger">*</span></label>
            <input id="length" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['length'] }" formControlName="length"
              type="number" pInputText placeholder="Enter Length">
            <span class="text-danger">
              {{ formErrors?.['length'] }}
            </span>
          </div>

          <div class="p-field col-md-6">
            <label for="width" class="text-primary">Width <span class="text-danger">*</span></label>
            <input id="width" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['width'] }" formControlName="width"
              type="number" pInputText placeholder="Enter width">
            <span class="text-danger">
              {{ formErrors?.['width'] }}
            </span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="p-field col-md-12">
            <label for="description" class="text-primary">description <span class="text-danger"></span></label>
            <textarea [rows]="3" [cols]="10" formControlName="description" pInputTextarea></textarea>
          </div>
        </div>
      </div>
    </form>

  </p-tabView>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="displayModal=false"></button>
    <button pButton pRipple type="submit" (click)="editPalletsData ? updatePallets(): createPallets()"
      class="p-button-warning" label=" {{ editPalletsData ? 'Update Pallets' : 'Add Pallets' }}"></button>
  </ng-template>
</p-dialog>
