.stat-card-content {
  justify-content: center;
}

.stat-card {
  box-shadow: 0px 25px 30px #0000001A;
}


.feature-left {
  margin-bottom: 40px;
}

.feature-left .feature-icon {
  font-size: 50px;
  color: #4791FF;
  display: inline-block;
  float: left;
  padding-right: 40px;
  padding-top: 7px;
}

.feature-left .feature-iconR {
  font-size: 50px;
  color: #f3000c;
  display: inline-block;
  float: left;
  padding-right: 40px;
  padding-top: 7px;
}

.feature-left .feature-content {
  font-size: 20px;
}

.info-section p {
  line-height: 5px;
}

.info-section {
  padding: 15px;
}

.item-content {
  cursor: pointer !important;

  :hover {
    background-color: rgb(223, 223, 223);
  }
}

// walter global css *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-----*--*-*-*-*-*-*-*-

label {
  width: max-content;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}

.spacer-max {
  height: 1.2rem;
}

.spacer-min {
  height: 1rem;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}

.searchAndOrder {
  display: flex;
  justify-content: space-between;
}

.searchAndOrder-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .col-6 {
  width: 100%;
}

@media screen and (max-width: 904px) and (min-width: 600px){
    .col-6 {
  width: 50%;
}
}
@media screen and (max-width: 1204px) and (min-width: 905px){
    .col-6 {
  width: 25%;
}
.searchAndOrder-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
@media screen and (max-width: 2400px) and (min-width: 1204px){
    .col-6 {
  width: 30%;
}
.searchAndOrder-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}

