<div class="main_container">
  <app-add-cmr [childTransportTracking]="parentTransportTracking" (transportTracking)="receiveCmrData()">
  </app-add-cmr>
  <app-add-doc [childTransportTracking]="parentTransportTracking" (transportTracking)="receiveCmrData()"></app-add-doc>
  <app-detail-transport *ngIf="displayedSideModal" [transporterIdForDetail]="transporterId"></app-detail-transport>
 <div class="spacer-max"></div>
  <div class="searchAndOrder">
    <mat-card style="width:20%;padding: .4rem;">
          <div class="feature-left searchAndOrder-column">
              <div class="feature-icon">
                <mat-icon>directions_bus</mat-icon>
              </div>
              <div class="feature-content">
                <mat-card-subtitle>Number of transports</mat-card-subtitle>
                <mat-card-title>{{totalElements}}</mat-card-title>
              </div>
          </div>
      </mat-card>
      <mat-card style="width:20%;padding: .4rem;">
        <div class="feature-left searchAndOrder-column">
          <div class="feature-icon">
            <mat-icon>remove_circle_outline</mat-icon>
          </div>
          <div class="feature-content">
            <mat-card-subtitle>Number of Litigation</mat-card-subtitle>
            <mat-card-title>{{totalLitigation}}</mat-card-title>
          </div>
        </div>
      </mat-card>
      <mat-card style="width:20%;padding: .4rem;">
        <div class="feature-left searchAndOrder-column">
          <div class="feature-icon">
            <mat-icon>directions_bus</mat-icon>
          </div>
          <div class="feature-content">
            <mat-card-subtitle>Number of transports</mat-card-subtitle>
            <mat-card-title>{{totalElements}}</mat-card-title>
          </div>
        </div>
      </mat-card>
      <mat-card style="width:20%;padding: .4rem;">
        <div class="feature-left searchAndOrder-column">
          <div class="feature-icon">
            <mat-icon>remove_circle_outline</mat-icon>
          </div>
          <div class="feature-content">
            <mat-card-subtitle>Number of Litigation</mat-card-subtitle>
            <mat-card-title>{{totalLitigation}}</mat-card-title>
          </div>
        </div>
      </mat-card>
  </div>
  <div class="spacer-max"></div>
  <div class="row">
    <mat-card>
      <div class="card">
        <p-table [value]="transportsTracking"   [rows]="30" [paginator]="true"
          [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
          [(selection)]="selectedTransportTracking" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">

            <div class="flexHeader">
              <span style="color: green!important;">Transport Traking</span>
              <span>
                <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '20rem'}">
                  <ng-template pTemplate>
                    <form [formGroup]="searchForm">
                      <div style="display: flex;flex-direction:column;">
                        <div class="p-field col-6">
                          <label for="param" class="text-primary">Status</label>
                          <select formControlName="status" pInputText style="width:15rem" placeholder="Status">
                            <option value="" disabled selected>Select status</option>
                            <option *ngFor="let item of status" value="{{ item.name }}">{{ item.name }}</option>
                          </select>
                        </div>
                        <div class="spacer-min"></div>
                        <div class="p-field col-6">
                          <label for="param" class="text-primary">Code Transport</label>
                          <input type="text" formControlName="transport" placeholder="Code Transport" pInputText style="width:15rem">
                        </div>

                        <div class="spacer-max"></div>
                        <div class="centeredBox">
                          <button pButton pRipple (click)="op.hide()" (click)="searchTransport()" type="submit" label="Load" icon="pi pi-search" class="addButton"></button>
                        </div>
                      </div>
                    </form>
                  </ng-template>
                </p-overlayPanel>
                <div>
                  <div>
                    <button type="text" pButton label="Search " icon="pi pi-search" class="addButton"
                      (click)="op.toggle($event)"></button>
                  </div>
                </div>
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 2rem">
              </th>
              <th pSortableColumn="name">Code OT </th>
              <th>Url CRM</th>
              <th >URL ORDER</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transportsTracking>
            <tr
              [ngClass]="{'redLine': transportsTracking?.litigation===true, 'greenLine' : transportsTracking?.litigation==false }">
              <td>
                <i *ngIf="transportsTracking?.litigation===true" class="pi pi-flag-fill redLine"
                  pTooltip="Transport on Dispute"></i>
                <i *ngIf="transportsTracking?.litigation===false&&transportsTracking?.status==='CREATED'" class="pi pi-flag-fill text-primary"
                  pTooltip="Transport on Created"></i>
                  <i *ngIf="transportsTracking?.litigation===false&&transportsTracking?.status==='VALID'" class="pi pi-flag-fill greenLine"
                  pTooltip="Transport Valid"></i>
              </td>
              <td>{{transportsTracking.transport}}</td>
              <td>
                <button *ngIf="transportsTracking.cmrFile" pButton pRipple icon="pi pi-pencil"
                  pTooltip="Update CRM File" class="p-button-rounded p-button-warning mr-2"
                  (click)="uploadCmr(transportsTracking)"></button>
                <button *ngIf="!transportsTracking.cmrFile" pButton pRipple icon="pi pi-cloud-upload"
                  pTooltip="Upload CRM File" class="p-button-rounded p-button-warning mr-2"
                  (click)="uploadCmr(transportsTracking)"></button>&nbsp;
                <button *ngIf="transportsTracking.cmrFile" pButton pRipple icon="pi pi-download"
                  pTooltip="download CRM File" class="p-button-rounded p-button-primary mr-2"
                  (click)="downloadCmrFile(transportsTracking)"></button>&nbsp;
              </td>
              <td>
                <button *ngIf="transportsTracking.orderFile" pButton pRipple icon="pi pi-pencil"
                  pTooltip="Update Order File" class="p-button-rounded p-button-warning mr-2"
                  (click)="uploadDocument(transportsTracking)"></button>
                <button *ngIf="!transportsTracking.orderFile" pButton pRipple icon="pi pi-cloud-upload"
                  pTooltip="Upload Order File" class="p-button-rounded p-button-warning mr-2"
                  (click)="uploadDocument(transportsTracking)"></button>&nbsp;
                <button *ngIf="transportsTracking.orderFile" pButton pRipple icon="pi pi-download"
                  pTooltip="download Order File" class="p-button-rounded p-button-primary mr-2"
                  (click)="downloadDocFile(transportsTracking)"></button>&nbsp;
              </td>
              <td>
                <button (click)="detailTransportsTracking(transportsTracking)" pButton pRipple icon="pi pi-eye"
                  class="p-button-rounded p-button-secondary mr-2" pTooltip="show détails on transport"></button>&nbsp;
                <span
                  *ngIf="transportsTracking?.orderFile==''||transportsTracking?.orderFile==null">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <button *ngIf="transportsTracking.cmrFile&&transportsTracking.orderFile" pButton pRipple
                  icon="pi pi-check" class="p-button-rounded p-button-success mr-2"
                  (click)="validTransportsTracking(transportsTracking)" pTooltip="Valid transport"></button>&nbsp;
                <button *ngIf="!transportsTracking?.litigation===true" pButton pRipple icon="pi pi-minus-circle" class="p-button-rounded p-button-danger"
                  (click)="PutOnLitige(transportsTracking)" pTooltip="put on Dispute"></button>
                <button *ngIf="transportsTracking?.litigation===true" pButton pRipple icon="pi pi-minus-circle" class="p-button-rounded p-button-primary"
                  (click)="PutOnLitige(transportsTracking)" pTooltip="remove on Dispute"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are {{totalElements }} Transport.
            </div>
          </ng-template>
        </p-table>
      </div>
    </mat-card>
  </div>
</div>
