.p-inputtext {
    margin-bottom: 1rem;
}
.p-button-warning-custom {
    position: absolute;
    margin-top: -5px;
    margin-left: 4px;
    padding: 5px;
}
.action-icon{
    cursor: pointer;
}
.order-button {
    display: flex;
    justify-content: flex-end;
}
.icon-spacer {
    margin-right: 10px;
}
.text-heading {
    font-size: 1.1rem;
    font-weight: 600;
}
:host ::ng-deep {
    .p-tag {
        width: 100px;
    }
}


// walter global css *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
}
