<div class="main_container">
  <app-destination-form *ngIf="displayModal" [childRoute]="parentRoute" [updatedChildRoute]="updatedParentRoute"
    (emptyChildOrder)="parentOrder = $event" (emptyChildRoute)="updatedParentRoute = $event"
    [childRoutes]="parentRoutes" [childOrder]="parentOrder">
  </app-destination-form>
  <div class="row">
    <a routerLink="/commercial/list" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a>
    <mat-card>
      <mat-card-subtitle class="sub-title">
        <h1 class="bold">{{ orderId ? 'Update order information' : 'Information about the order' }}</h1>
      </mat-card-subtitle>
      <hr class="divider"> 

      <form novalidate [formGroup]="orderForm">
        <div class="p-fluid">
          <div class="row">
            <div class="p-field col-md-3">
              <label for="customerRef" class="text-primary">Customer name <span class="text-danger">*</span></label>
              <p-autoComplete formControlName="customerRef" inputId="icon" InputSearchDirective
                [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['customerRef'] }" [suggestions]="customers"
                (completeMethod)="getCustomers($event)" autocomplete="rutjfkde" field="name"
                placeholder="Choose customer">
                <ng-template let-customer pTemplate="item">
                  <div class="customer-item">
                    <div>{{customer.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <span class="text-danger">
                {{ formErrors?.['customerRef'] }}
              </span>
            </div>
            <div class="p-field col-md-4">
              <label for="typeGoodRef" class="text-primary">Type of goods <span class="text-danger">*</span></label>
              <p-autoComplete formControlName="typeGoodRef"
                [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['typeGoodRef'] }" [suggestions]="goods"
                (completeMethod)="getGoods($event)" autocomplete="x" field="name" placeholder="Type of goods">
                <ng-template let-good pTemplate="item">
                  <div class="good-item">
                    <div>{{good.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <span class="text-danger">
                {{ formErrors?.['typeGoodRef'] }}
              </span>
            </div> 
            <div class="p-field col-md-5">
              <label for="recommandedVehiclesIds" class="text-primary">Vehicle <span
                  class="text-danger">*</span></label>
              <p-autoComplete formControlName="recommandedVehiclesIds"
                [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['recommandedVehiclesIds'] }" [multiple]="true"
                [suggestions]="vehicles" (completeMethod)="getVehicle($event)" autocomplete="rutjfkde" field="name"
                placeholder="Vehicle">
                <ng-template let-vehicle pTemplate="item">
                  <div class="good-item">
                    <div>{{vehicle.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <span class="text-danger">
                {{ formErrors?.['recommandedVehiclesIds'] }}
              </span>
            </div>
          </div> 

          <div class="row mt-2">
            <div class="p-field col-md-2">
              <label for="customerBillRef" class="text-primary">Customer billing reference</label>
              <input id="customerBillRef" type="text" formControlName="customerBillRef" pInputText
                placeholder="Customer billing reference">
            </div>
            <div class="p-field col-md-1">
              <label for="price" class="text-primary">Price <span class="text-danger">*</span></label>
              <p-inputNumber inputId="price" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['price'] }"
                formControlName="price" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="10"
                placeholder="Price"></p-inputNumber>
              <span class="text-danger">
                {{ formErrors?.['price'] }}
              </span>
            </div>
            <div class="p-field col-md-2">
              <label for="tonnage" class="text-primary">Weight(t) <span class="text-danger">*</span></label>
              <p-inputNumber inputId="tonnage" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['tonnage'] }"
                formControlName="tonnage" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="10"
                placeholder="Weight(t)"></p-inputNumber>
              <span class="text-danger">
                {{ formErrors?.['tonnage'] }}
              </span>
            </div>

            <div class="p-field col-md-2">
              <label for="mpl" class="text-primary">Mpl <span class="text-danger">*</span></label>
              <p-inputNumber inputId="mpl" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['mpl'] }"
                formControlName="mpl" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="10" placeholder="mpl">
              </p-inputNumber>
              <span class="text-danger">
                {{ formErrors?.['mpl'] }}
              </span>
            </div>
            <div class="p-field col-md-3">
              <label for="typePalletteRef" class="text-primary">Type of pallet <span class="text-danger"></span></label>
              <p-autoComplete formControlName="typePalletteRef" [suggestions]="pallets"
                (completeMethod)="getPallets($event)" autocomplete="rutjfkde" field="type" placeholder="Type of pallet">
                <ng-template let-pallet pTemplate="item">
                  <div class="good-item">
                    <div>{{pallet.type}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
            <div class="p-field col-md-2">
              <label for="palletteQte" class="text-primary">Quantity of pallet <span class="text-danger"></span></label>
              <p-inputNumber inputId="palletteQte" formControlName="palletteQte" placeholder="Quantity of pallet">
              </p-inputNumber>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="comment" class="text-primary">comments</label>
              <textarea id="comment" formControlName="comment" type="text" rows="2" [autoResize]="true" pInputTextarea
                placeholder="Type a comment here"></textarea>
            </div>
          </div>

        </div>
      </form>

      <span class="text-primary">
        <span class="text-heading">Adding routes information</span>
        <button (click)="showDestinationModal()" pButton pRipple type="button"
          class="p-button-warning p-button-warning-custom addButton" icon="pi pi-plus-circle "></button>
      </span>
    </mat-card>

    <mat-card class="mt-2" [@displayHiddenElement]="destinationTableState" *ngIf="destinations.length > 0">
      <p-table [value]="destinations" [scrollable]="true" scrollHeight="200px">
        <ng-template pTemplate="header">
          <tr>
            <th>Type</th>
            <th>From</th>
            <th>At</th>
            <th>Date</th>
            <th>Weight(t)</th>
            <th>Floor meter(mpl)</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-destination>
          <tr>
            <td>
              <p-tag [severity]="destination.destinationType === 'LOAD' ? 'warning' : 'primary'"
                value="{{destination.destinationType}}"></p-tag>
            </td>
            <td>{{destination.countryName}}</td>
            <td>{{destination.address}}</td>
            <td>{{destination.dateStr | date: 'MM/dd/yyyy hh:mm'}}</td>
            <td>{{destination.tonnage}}</td>
            <td>{{destination.mpl}}</td>

            <td>
              <i class="action-icon pi pi-question-circle text-primary icon-spacer"></i>
              <i class="action-icon pi pi-pencil text-warning icon-spacer" (click)="updateRoute(destination)"></i>
              <i class="action-icon pi pi-trash text-danger" (click)="removeDestination(destination)"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="order-button mt-2">
        <button pButton pRipple (click)="orderId ? updateOrder() : addOrder()" type="button"
          class="p-button-warning purple" icon="{{ spinner ? 'pi pi-spin pi-spinner' : '' }}"
          label="{{ orderId ? 'Update order' : 'Create order' }}"></button>
      </div>
    </mat-card>
  </div>
</div>
