
<div class="main_container">
    <app-management-create-goods *ngIf="displayModal" [editGoodsData]="selectedGood" (actiontoPerformed)="getAllGoods()" ></app-management-create-goods>
    <div class="previousAndAddCustomer">
      <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
        class="p-button-rounded back-button" style="color:#D38CBC!important"></a>
      <span>
        <a (click)="showModal()" pRipple pButton type="button" class="p-button-warning purple addButton"
          label="Add Customer" icon="pi pi-plus"></a>
      </span>
    </div>
    <div class="row">
        <!-- <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded back-button"></a> -->

        
            <!-- <mat-card-subtitle class="sub-title">
                <span>
                    <button pRipple pButton type="button" class="p-button-primary purple" label="Export" icon="pi pi-file-excel" ></button>
                </span>
                <span class="p-left1" >&nbsp;
                    <button pRipple pButton type="button" (click)="showModal()"class="p-button-warning purple" label="Add Goods" icon="pi pi-plus" ></button>
                </span>
                <span class="p-left2">
                    <button pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo" icon="pi pi-search" class="p-button-rounded p-button-secondary"></button>
                </span>
            </mat-card-subtitle> -->
                <!-- <hr class="divider"> -->

                <form [formGroup]="searchForm">


                      <div class="fixInCenter">
                        <div class="searchContainer">
                          <div style="display: flex;flex-direction:column">
                            <label for="icoren" style="color:#818D9F!important ;">Parameter</label>
                            <span class="p-input-icon-left ">
                              <input pInputText type="text" formControlName="param" placeholder="" class="p-inputtext-sm fixInputWidth" />
                              <i class="pi pi-search"></i>
                            </span>
                          </div>
                          <div style="display: flex;flex-direction:column">
                            <label for="ifcon" style="color:#818D9F!important ;">Status</label>
                            <ng-select formControlName="status" placeholder="select" class="fixInputWidth">
                              <ng-option class="p-inputtext-sm" class="onTop" *ngFor="let status of allStatus" [value]="status.id">
                                {{ status.name }}
                              </ng-option>
                            </ng-select>

                          </div>
                          <button (click)="searchGoods()" pRipple pButton type="button" class="p-button-warning purple" label="Search"
                            icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"
                            style="background-color:#D38CBC;border:#D38CBC;height: 2.2rem;">
                          </button>

                        </div>
                      </div>
                <!-- <div class="row flex collapse" id="demo">
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-2">
                      </div>
                      <div class="col-md-2">
                        <div class="p-grid p-fluid">
                          <label for="icoren">Parameter</label>
                          <span class="p-input-icon-left ">
                            <input pInputText type="text" formControlName="param" placeholder="parameter..."
                              class="p-inputtext-sm" />
                              <i class="pi pi-search"></i>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="p-grid p-fluid">
                          <div class="field col-12 ">
                            <label for="ifcon">Status</label>
                            <span class="p-input-icon-left p-field col-md-2">
                              <ng-select formControlName="status" placeholder="select">
                                <ng-option class="p-inputtext-sm" class="onTop" *ngFor="let status of allStatus"
                                  [value]="status.id">{{ status.name }}</ng-option>
                              </ng-select>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 offset-0">
                        <div class="p-grid p-fluid pmt-2">
                              <button (click)="searchGoods()" pRipple pButton type="button" class="p-button-warning purple"
                              label="Search" icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"></button>
                        </div>
                      </div>
                    </div> -->
                  </form>

        <mat-card>

                <p-table  [value]="goodsList" [rows]="8" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
                [(selection)]="selectedDriver" [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                  <div class="flexHeader">
                    <div class="flex align-items-center justify-content-between">
                      <span>All Goods</span>
                    </div>
                    <!-- <h5 class="m-0">All Goods </h5> -->
                    <a pRipple (click)="exportExcel()" pButton type="button" class="p-button-warning purple addButton" label="Export"
                      icon="pi pi-file-excel"></a>
                  </div>

                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th >
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th  style="width: 10rem">Name </th>
                        <th>description</th>
                        <th >Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-goodsList>
                    <tr style="width: 3rem">
                        <td>
                            <p-tableCheckbox [value]="goodsList"></p-tableCheckbox>
                        </td>
                        <td>{{goodsList.name}}</td>
                        <td>{{goodsList.description}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editGoods(goodsList)"></button>&nbsp;
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteGoods(goodsList)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </mat-card>
    </div>
</div>
