.p-left2{
    position: absolute;
     right: 0;
     margin-right: 1%;
}
.p-left1{
    position: absolute;
     right: 0;
     margin-right: 5%;
}

.p-left3{
    position: absolute;
     right: 0;
     margin-right: 23%;
}

.pp-left3{
    position: absolute;
     right: 0;
     margin-right: 23%;
}
.label{
    color: blue;

}
div.label{
    color: red;
}
div{
color: green !important;
}


//walter global css *-*-*-*-*-*-*-*-*-*-*-**-*-*--*-*-*-*-*-*-*--**-*-*-*-*--*--*-*-*-*-*-*--*--*-*-*-*-**--*-*-*-*---*-*-**

.sub-title {
  display: flex;
  flex-direction: column;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}


.fixSearch{
  width: 3rem;
}

.fixInputWidth {
  width: 5.1rem;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.previousAndAddCustomer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.fixInCenter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.searchContainer{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
   width: 100%;
}

@media screen and (max-width: 904px) and (min-width: 600px){
.fixInputWidth {
  width: 7rem;
}
.searchContainer{
   width: 100%;
}

}

@media screen and (max-width: 1204px) and (min-width: 905px){
.fixInputWidth {
  width: 9rem;
}
.searchContainer{
   width: 80%;
}

}

@media screen and (max-width: 2400px) and (min-width: 1204px){

  .fixInputWidth {
  width: 15rem;
}
.searchContainer{

   width: 70%;
}

}
