<div class="main_container">
  <app-management-truck-create *ngIf="displayModal" [editTruckData]="selectedTruck" (actiontoPerformed)="getAllTruck()">
  </app-management-truck-create>

  <div class="previousAndAddCustomer">
    <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button" style="color:#D38CBC!important"></a>
    <span>
      <a (click)="showModal()" pRipple pButton type="button" class="p-button-warning purple addButton"
        label="Add Customer" icon="pi pi-plus"></a>
    </span>
  </div>

      <form [formGroup]="searchForm">

          <div class="fixInCenter">
            <div class="searchContainer">
              <div style="display: flex;flex-direction:column">
                <label for="icoren" style="color:#818D9F!important ;">Parameter</label>
                <span class="p-input-icon-left ">
                  <input pInputText type="text" formControlName="param" placeholder="" class="p-inputtext-sm fixInputWidth" />
                  <i class="pi pi-search"></i>
                </span>
              </div>
              <div style="display: flex;flex-direction:column">
                <label for="ifcon" style="color:#818D9F!important ;">Status</label>
                <ng-select formControlName="status" placeholder="select" class="fixInputWidth">
                  <ng-option class="p-inputtext-sm" class="onTop" *ngFor="let status of allStatus" [value]="status.id">
                    {{ status.name }}
                  </ng-option>
                </ng-select>

              </div>
              <button (click)="searchTrucks()" pRipple pButton type="button" class="p-button-warning purple" label="Search"
                icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"
                style="background-color:#D38CBC;border:#D38CBC;height: 2.2rem;">
              </button>

            </div>
          </div>
      </form>


    <mat-card>
      <div class="card">
        <p-table [value]="truckList" [rows]="8" [paginator]="true"
          [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
          [(selection)]="selectedTruks" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flexHeader">
              <span>All Truck</span>
              <a pRipple (click)="exportExcel()" pButton type="button" class="p-button-warning purple addButton" label="Export"
                icon="pi pi-file-excel"></a>

            </div>

          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th  style="width: 10rem">Name </th>
              <th>MPL</th>
              <th>Tonnage</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-truckList>
            <tr style="width: 3rem" class="{{ truckList.status === 'ACTIVATED' ? '':'text-danger' }}">
              <td>
                <p-tableCheckbox [value]="truckList"></p-tableCheckbox>
              </td>
              <td>{{truckList.name}}</td>
              <td>{{truckList.mpl}}</td>
              <td>{{truckList.tonnage}}</td>
              <td>{{truckList.description}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editTruck(truckList)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteTruck(truckList)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>

</div>
