<p-dialog header="{{ editTruckData ? 'Update Trucks' : 'Add Trucks' }}" [(visible)]="displayModal" [modal]="true"
  [style]="{width: '50vw'}" (onHide)="closeModal()">
  <p-tabView>
    <form [formGroup]="TruckForm">
      <div class="p-fluid">
        <div class="row mt-2">
          <div class="p-field col-md-12">
            <label for="name" class="text-primary">Name <span class="text-danger">*</span></label>
            <input id="name" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="name"
              type="text" pInputText placeholder="Enter name of Trucks">
            <span class="text-danger">
              {{ formErrors?.['name'] }}
            </span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="p-field col-md-6">
            <label for="mpl" class="text-primary">Mpl <span class="text-danger">*</span></label>
            <input id="mpl" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['mpl'] }" formControlName="mpl"
              type="number" pInputText placeholder="Enter mpl">
            <span class="text-danger">
              {{ formErrors?.['mpl'] }}
            </span>
          </div>

          <div class="p-field col-md-6">
            <label for="tonnage" class="text-primary">Tonnage<span class="text-danger">*</span></label>
            <input id="tonnage" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['tonnage'] }" formControlName="tonnage"
              type="number" pInputText placeholder="Enter tonnage">
            <span class="text-danger">
              {{ formErrors?.['tonnage'] }}
            </span>

          </div>
        </div>
        <div class="row mt-2">
          <div class="p-field col-md-12">
            <label for="description" class="text-primary">description <span class="text-danger"></span></label>
            <textarea [rows]="3" [cols]="10" formControlName="description" pInputTextarea></textarea>
          </div>
        </div>
      </div>
    </form>
  </p-tabView>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="displayModal=false"></button>
    <button pButton pRipple type="submit" (click)="editTruckData ? updateTruck(): addTruck()" class="p-button-warning"
      label=" {{ editTruckData ? 'Update Trucks' : 'Add Trucks' }}"></button>
  </ng-template>
</p-dialog>
