<p-dialog [closable]="true" [(visible)]="displayModal" [modal]="true" (onHide)="cancelUploadCmr()"
  [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <div class="row col-md-12">
      <h2 class="col-6">Upload cmr</h2>
    </div>
  </ng-template>
  <form [formGroup]="addCmrForm">
    <div class="p-fluid">

      <div class="row mt-2">
        <div class="p-field col-md-12">
          <label for="driverRef" class="text-primary">Select cmr file <span class="text-danger">*</span></label>
          <input class="form-control" [ngClass]="{'is-invalid' : errorMessage}" type="file" formControlName="cmrFile"
            (change)="selectFile($event)">
          <span class="text-danger" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>
      </div>

      <div class="row mt-2 footer-button">
        <div class="col-md-5 mt-4">
          <button (click)="displayModal=false" pButton pRipple type="button" label="Cancel"
            class="p-button-danger"></button>
        </div>
        <div class="col-md-5 mt-4 footer-button">
          <button *ngIf="!childTransportTracking?.cmrFile" pButton pRipple type="submit" (click)="uploadCmr()"
            label="Save" icon="pi pi-arrow-down-left" class="p-button-raised p-button-warning"></button>

          <button *ngIf="childTransportTracking?.cmrFile" pButton pRipple type="submit" (click)="updateUploadCmr()"
            label="Update" icon="pi pi-arrow-down-left" class="p-button-raised p-button-warning"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
