<p-dialog [closable]="true" [(visible)]="displayModal1" [modal]="true" (onHide)="cancelUploadFile()"
  [style]="{width: '30vw'}">
  <ng-template pTemplate="header">
    <div class="row col-md-12">
      <h2 class="col-6">Upload documents</h2>
    </div>
  </ng-template>
  <form [formGroup]="addDocForm">
    <div class="p-fluid">

      <div class="row mt-2">
        <div class="p-field col-md-12">
          <label for="driverRef" class="text-primary">Select documents <span class="text-danger">*</span></label>
          <input class="form-control" [ngClass]="{'is-invalid' : errorMessage}" (change)="selectFile($event)"
            formControlName="docFile" type="file">
          <span class="text-danger" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>
      </div>

      <div class="row mt-2 footer-button">
        <div class="col-md-5 mt-4">
          <button (click)="displayModal1=false" pButton pRipple type="button" label="Cancel"
            class="p-button-danger"></button>
        </div>
        <div class="col-md-5 mt-4 footer-button">
          <button *ngIf="!childTransportTracking?.orderFile" pButton pRipple type="button" (click)="uploadFile()"
            label="Save" icon="pi pi-arrow-down-left" class="p-button-raised p-button-warning"></button>

          <button *ngIf="childTransportTracking?.orderFile" pButton pRipple type="button" (click)="updateUploadFile()"
            label="Update" icon="pi pi-arrow-down-left" class="p-button-raised p-button-warning"></button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
