
<div  class="showDesktop">
<p-dialog [(visible)]="displayModal" [closable]="true" [modal]="true" [style]="{width: '60vw'}"
  (onHide)="showDestinationModal()">
  <ng-template pTemplate="header">
    <div class="row col-md-12">
      <h2 class="col-6">Select users to share</h2>
    </div>
  </ng-template>

  <form novalidate (ngSubmit)="shareOrder()">
    <p-pickList [source]="UsersAvailables" [target]="UserSelecteds" sourceHeader="Users Available"
      targetHeader="Users Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'25rem'}"
      [targetStyle]="{'height':'25rem'}" filterBy="name" sourceFilterPlaceholder="Search by name"
      targetFilterPlaceholder="Search by name">
      <ng-template let-UsersAvailables pTemplate="item">
        <div class="product-item">
          <div class="image-container">
          </div>
          <div class="product-list-detail">
            <h5 class="mb-2">{{UsersAvailables.name}}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{UsersAvailables.category}}</span>
          </div>
          <div class="product-list-action">
            <h6 class="mb-2">{{UsersAvailables.price}}</h6>
          </div>
        </div>
      </ng-template>
    </p-pickList>

    <div class="row mt-2 footer-button">
      <div class="col-md-3 mt-4">
        <button (click)="displayModal=false" pButton pRipple type="button" label="Cancel"
          class="p-button-danger"></button>
        &nbsp;
        <button pButton pRipple type="submit" label="Send" class="p-button-warning"></button>
      </div>
    </div>

  </form>
</p-dialog>

</div>

<div class="showMobile">
  <p-dialog [(visible)]="displayModal" [closable]="true" [modal]="true" [style]="{width: '90%'}"
    (onHide)="showDestinationModal()">
    <ng-template pTemplate="header">
      <div class="row col-md-12">
        <h2 class="col">Select users to share</h2>
      </div>
    </ng-template>

    <form novalidate (ngSubmit)="shareOrder()">
      <p-pickList [source]="UsersAvailables" [target]="UserSelecteds" sourceHeader="Users Available"
        targetHeader="Users Selected" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'25rem'}"
        [targetStyle]="{'height':'25rem'}" filterBy="name" sourceFilterPlaceholder="Search by name"
        targetFilterPlaceholder="Search by name">
        <ng-template let-UsersAvailables pTemplate="item">
          <div class="product-item">
            <div class="image-container">
            </div>
            <div class="product-list-detail">
              <h5 class="mb-2">{{UsersAvailables.name}}</h5>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{UsersAvailables.category}}</span>
            </div>
            <div class="product-list-action">
              <h6 class="mb-2">{{UsersAvailables.price}}</h6>
            </div>
          </div>
        </ng-template>
      </p-pickList>

      <div class="row mt-2 footer-button">
        <div class="col-md-3 mt-4">
          <button (click)="displayModal=false" pButton pRipple type="button" label="Cancel"
            class="p-button-danger"></button>
          &nbsp;
          <button pButton pRipple type="submit" label="Send" class="p-button-warning"></button>
        </div>
      </div>

    </form>
  </p-dialog>
</div>
