<p-sidebar [(visible)]="displayedSideModal" styleClass="hello" position="right" [style]="{width:'45%'}"   [baseZIndex]="999999"
  (onHide)="closeSideModal()" > 

  <h1 class="text-warning">Customer : <span class="text-primary">{{ customerForDetail?.name }}</span> </h1>
  <p-divider type="dashed"></p-divider>
  <p-button label="Add Payment Method" icon="pi pi-plus" (click)="op.show($event)" styleClass="p-button-sm"></p-button>
  &nbsp;
  <p-divider type="dashed"></p-divider>
  <div class="contairner">
    <h2> <span class="text-primary">General infos </span></h2>
    <div class="grid">
      <div class="row">
        <div class="col-md-6">
          <h4><span class="Tgras">Name :</span> {{ customerForDetail?.name }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Vat</span> : {{ customerForDetail?.tva }}</h4>
        </div>
        <div class="col-md-6 ">
          <h4><span class="Tgras">Country :</span> {{ customerForDetail?.countryCode }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">ZipCode :</span> {{ customerForDetail?.zipcode }}</h4>
        </div>
        <div>
          <h4><span class="Tgras">City :</span> {{ customerForDetail?.city }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Address :</span> {{ customerForDetail?.address }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Phone :</span> {{ customerForDetail?.phone }}</h4>
        </div>
        <div class="col-md-6 ">
          <h4><span class="Tgras">Fax :</span> {{ customerForDetail?.fax }}</h4>
        </div>
        <div class="col-md-6 ">
          <h4><span class="Tgras">Siren :</span> {{ customerForDetail?.siren }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Siren :</span> {{ customerForDetail?.siren }}</h4>
        </div>

      </div>
      <div class="row">

        <p-divider></p-divider>
        <h2> <span class="text-primary">Assurances</span> </h2>

        <div class="col-md-6">
          <h4><span class="Tgras">Payment Day :</span> {{ customerForDetail?.paymentsDaysNumber  }}</h4>
        </div>
        <div class="col-md-6">
          <h4><span class="Tgras">Payment Period :</span> {{ customerForDetail?.paymentsDaysPeriod }}</h4>
        </div>
      </div>
      <p-divider></p-divider>


      <!-- payments Info Table -->
      <h2><span class="text-primary">Payments:</span> </h2>
      <div class="card">
        <p-table [value]="customerPaymentList" dataKey="id" editMode="row" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Type</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customerPaymentList let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="customerPaymentList"
              class="{{ customerPaymentList.status === 'ACTIVATED' ? '':'text-danger' }}">
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="customerPaymentList.type">
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{customerPaymentList.type}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" [(ngModel)]="customerPaymentList.description" required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{customerPaymentList.description}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td style="text-align:center">
                <button *ngIf="customerForDetail?.status === 'ACTIVATED'" pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="removePaymentMethodOnCustomer(customerPaymentList)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <p-divider></p-divider>

    </div>

    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width:'30em'}">
      <ng-template pTemplate>
        <form [formGroup]="paymentForm">
          <div class="p-fluid">
            <div class="row mt-2">
              <div class="p-field col-md-12">
                <label for="surname" class="text-primary">Payment Method <span class="text-danger">*</span></label>
                <p-multiSelect [options]="paymentMethodList" formControlName="type"
                  defaultLabel="Select a Payment(s) Method" optionLabel="type" display="chip"></p-multiSelect>
                <span class="text-danger">
                  {{ formErrors?.['type'] }}
                </span>
              </div>
            </div>

          </div>
          <span class="pfleft"><br>
            <button pButton pRipple class="p-button-warning" label="Add Payment"
              (click)="addPaymentMethodOnCustomer()"></button>
          </span><br> <br> <br>
        </form>
      </ng-template>
    </p-overlayPanel>
    <div #actualTarget></div>
  </div>
</p-sidebar>
