
<!-- <app-nav-bar></app-nav-bar> -->
<!--
<p-toast></p-toast>

<p-confirmDialog width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times-circle" class="p-button-rounded p-button-danger" label="Cancel"
      (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check-circle" class="p-button-rounded p-button-success" label="Yes"
      (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>

 <mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" autosize fixedTopGap="56">
     <app-sidebar  ></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [@onSideNavChange]="sidebarState">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<div class="containerW">
<p-toast></p-toast>
<p-confirmDialog width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times-circle" class="p-button-rounded p-button-danger" label="Cancel"
      (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check-circle" class="p-button-rounded p-button-success" label="Yes"
      (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
  <div class="sidebarW"><app-sidebar></app-sidebar></div>
  <div class="main-containerW">
    <div class="navbarW">
       <app-nav-bar></app-nav-bar>
      <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate">
      </mat-progress-bar>
    </div>

      <div class="main-body">
        <router-outlet></router-outlet>
      </div>
  </div>

</div>
