.sidebar_menu {
  max-width: 30px;
  top: 0;
  height: 100%;

  .menu-list {
    flex: 1;
    justify-content: normal;
  }

  .icon {
    padding: 0 10px 0 0;
    text-align: center;
    vertical-align: middle;
  }

  .label {
    margin: 0;
  }

  .active-list-item {
    color:red !important;
  }
}
// walter sidebar css3 **-**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-----*-****-*****-*****-******-

.sidebar-containerW {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-elementW {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard {
    margin: 2rem 1rem;
    font-weight: 700;
    color: var(--secondBackground-color);

 }

a img {
  cursor: pointer;
  position: relative;
  display: block;
   width: 3rem;
  height: 3rem;
}
a span {
  opacity: 0;
  color: #fff;
  width: 80px;
  height: 2rem;
  padding: 5px 0;
  background: #D38CBC ;

  position: absolute;
  border-radius: 6px;
  transition: opacity 1s;

}
 a span:after {
  display: grid;
  justify-content: center;
  border-width: 5px;
  position: absolute;
  border-style: solid;
  z-index: 100;
}

a:hover span {
    opacity: 1;
}

.cardBar {
  width: 100%;
  height: 50px;
  background: var(--secondary-color);
  box-shadow: 0px 2px 2px rgba(102, 102, 102, 0.15);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem;
   border-left: 0.4rem solid #D38CBC ;
  cursor: pointer;
  color: #D38CBC;
  font-size: 0.95em !important;
}
.changeColor {
  color: #D38CBC;
}
.spacer{
  height: 1.5rem !important;
}
.spacerMin{
  height: .5rem !important;
}


.sidebar-footerW {
  border-top: 1px solid #D38CBC;
  padding: 1rem 0 ;
  width: 6.2rem;
  display: grid;
  justify-content: center;
  position: fixed;
  left:0;
  bottom: 0;
}
.sidebar-footerW a  img {
  height: 1.8rem;
  width:1.8rem;
}

.hide-Tablet {
  display: none;
}


.hide-Desktop {
  display: none;
}

@media screen and (max-width: 1204px) and (min-width: 600px){
  .dashboard {
    margin: 2rem 0;
    font-size: var(--big-size);
 }

 a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .sidebar-elementW a span {
  opacity: 100%;
  color:var( --secondBackground-400-color) ;
  height: 0;
  background:  transparent;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  text-align: center;
 }

 .sidebar-elementW {
  margin-bottom: .5rem;
}

.sidebar-footerW a {
   padding: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-footerW {
width: 14.5rem;
}
.sidebar-footerW a span {
  height: 100%;
  margin-left: .5rem;
}
.spacer{
  height: 1rem !important;
}
.spacerMin{
  height: .4rem !important;
}

.cardBar {
  width: 14.5rem;
  height: 90px;
  background: var(--secondary-color);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   border-left: 0.4rem solid #D38CBC ;
  cursor: pointer;
  color: #D38CBC;
  // font-size: 0.95em !important;
}
.changeColor {
  color: #D38CBC;
  background-color: transparent;
 text-align: center;
}

.sidebar-footerW a {
   padding: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-footerW {
width: 14.5rem;
}
.sidebar-footerW a span {
  height: 100%;
  margin-left: .5rem;
}

 .sidebar-footerW a span {
  opacity: 100%;
  color:var( --secondBackground-400-color) ;
  background: var(--firstBackground-color);
  text-decoration: none;
  position: relative;
  font-weight: 600;
  margin-left: 1rem;
 }
}

@media screen and (max-width: 2400px) and (min-width: 1204px){

   .dashboard {
    margin: 3.8rem 0;
    font-size: var(--big-size);
 }

 .sidebar-elementW a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }
 .sidebar-elementW a img {
  width: 1.85rem;
  height: 1.85rem;
}

 .sidebar-elementW a span {
  opacity: 100%;
  color:var( --secondBackground-400-color) ;
  background: transparent;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  margin-left: 1rem;

 }

.sidebar-footerW {
width: 18.5rem;
}
.sidebar-footerW a {
   padding: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-footerW {
width: 18.5rem;
}
.sidebar-footerW a span {
  height: 100%;
  margin-left: .5rem;
}

 .sidebar-footerW a span {
  opacity: 100%;
  color:var( --secondBackground-400-color) ;

  background: var(--firstBackground-color);
  text-decoration: none;
  position: relative;
  font-weight: 600;
  margin-left: 1rem;
 }
 .cardBar {
  width: 18.5rem;
  height: 3.4rem;
  background: var(--secondary-color);
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
   border-left: 0.4rem solid #D38CBC ;
  cursor: pointer;
  color: #D38CBC;
  // font-size: 0.95em !important;
}
.changeColor {
  color: #D38CBC!important;
  background-color: transparent;

}
}
