<!-- <div class="sidebar_menu " [@onSideNavChange]="sidebarState">

  <mat-nav-list class="menu-list">
    <a mat-list-item routerLinkActive="active-list-item" routerLink="login" title="Dashboard">
      <div class="spacer"></div>
    </a>

    <a mat-list-item [ngClass]="{'active-list-item' : isActiveRouteCommercial()}" routerLink="commercial/list"
      title="Order">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">list</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Order</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="exploitation/list" title="Exploitation">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">dns</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Exploitation</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="transport/index" title="Transport">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">local_shipping</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Transport</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="management/index" title="Management">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">work</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Management</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="monitoring/list" title="Monitoring">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">linear_scale</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Monitoring</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="billing/list" title="Billing">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">article_sharp constant</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Customer Billing</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="transporterBilling/list" title="transporterBilling">
      <mat-icon class="icon" [@iconAnimation]="sidebarState">assignment</mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Transporter Billing</span>
    </a>
  </mat-nav-list>

  <mat-divider></mat-divider>
</div> -->
<!-- routerLinkActive="{{isActiveRouteCommercial() ? 'active-list-item' : ''}}" -->

<div class="sidebar-containerW">

  <img src="../assets/img/logoliss.png" alt="logo" routerLinkActive="active-list-item" routerLink="login"  style=" width: 4rem;height:2rem;">
  <span class=" dashboard " [@labelAnimation]="sidebarState"
       routerLinkActive="active-list-item" routerLink="login">Dashboard</span>

    <div  routerLinkActive="active-list-item"  *ngFor=" let it of items ;let i = index;" class="sidebar-elementW">
      <a  routerLinkActive="active-list-item"  routerLink="{{it.url}}" (click)="onClick('' + i)" class="cardMenu" [ngClass]="{'cardBar':it.clicked }">
        <img src="{{it.urlIcon}}" alt="logo">
        <span [ngClass]="{'changeColor':it.clicked }">{{it.name}}</span>
      </a>
      <div class="spacer"></div>
    </div>
  <!-- <div class="sidebar-elementW">
    <a  routerLinkActive="active-list-item" routerLink="commercial/list" >
      <img src="../assets/img/grid.png" alt="logo" >
      <span  >Commercial</span>
    </a>
    <div class="spacer"></div>
    <a routerLinkActive="active-list-item" routerLink="exploitation/list"  >
      <img src="../assets/img/layers.png" alt="logo" >
      <span class="R-st">Exploitation</span>
    </a>
    <div class="spacer"></div>
    <a routerLinkActive="active-list-item" routerLink="transport/index" >
      <img src="../assets/img/truck.png" alt="logo" >
      <span class="R-st">Transport</span>
    </a>
    <div class="spacer"></div>
    <a routerLinkActive="active-list-item" routerLink="management/index" >
      <img src="../assets/img/cpu.png" alt="logo" >
      <span class="R-st">Management</span>
    </a>
    <div class="spacer"></div>
    <a routerLinkActive="active-list-item" routerLink="monitoring/list" >
      <img src="../assets/img/copy.png" alt="logo" >
      <span class="R-st">Monitoring</span>
    </a>

  </div> -->

  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="sidebar-footerW">
      <a routerLinkActive="active-list-item" routerLink="/" >
        <img src="../assets/img/user.png" alt="logo" >
        <span class="R-st">Tick Tick </span>
      </a>
      <div class="spacerMin"></div>
      <a routerLinkActive="active-list-item" routerLink="/"  >
        <img src="../assets/img/settings.png" alt="logo" >
        <span class="R-st">Paramètres</span>
      </a>
      <div class="spacerMin"></div>
      <a routerLinkActive="active-list-item" routerLink="/" >
        <img src="../assets/img/power.png" alt="logo" >
        <span class="R-st">Déconnexion</span>
      </a>
  </div>
</div>

