.p-left2{
    position: absolute;
     right: 0;
     margin-right: 1%;
}
.p-left1{
    position: absolute;
     right: 0;
     margin-right: 5%;
}

.p-left3{
    position: absolute;
     right: 0;
     margin-right: 23%;
}

.pp-left3{
    position: absolute;
     right: 0;
     margin-right: 23%;
}
.label{
    color: blue;

}
div.label{
    color: red;
}
div{
color: green !important;
}

//walter global css *-*-*-*-*-*-*-*-*-*-*-**-*-*--*-*-*-*-*-*-*--**-*-*-*-*--*--*-*-*-*-*-*--*--*-*-*-*-**--*-*-*-*---*-*-**

.sub-title {
  display: flex;
  flex-direction: column;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}

.searchAndOrder {
  display: flex;
  justify-content: space-between;
}

.searchAndOrder-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer-max {
  height: 1.2rem;
}

.spacer-min {
  height: 1rem;
}



.spacer {
  height: 1.2rem;
}

.filteredElement {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.coming-soon {
 background-color: #d5e2f7;
 color: var(--secondBackground-color);
 padding: .3rem;
 border-radius: .4rem;
 margin: 1.7rem 1rem .8rem;
  position: relative;
  //margin-left: .8rem;
  display: inline-block;
  font-size: .8rem;
}

.badgeW {
    position: absolute;
    /* z-index: 3; */
    border-radius: 50%;
    background-color: #fbeaea;
    color: #0c143c;
    height: 1.5rem;
    width: 1.5rem;
    top: -8px;
    font-weight: 600;
    right: 2.8;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border: 3px solid #D38CBC
}


.fixSearch{
  width: 3rem;
}

.fixInputWidth {
  width: 5.1rem;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.previousAndAddCustomer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.fixInCenter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.searchContainer{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
   width: 100%;
}

@media screen and (max-width: 1204px) and (min-width: 600px){
.fixInputWidth {
  width: 8rem;
}
.searchContainer{
   width: 100%;
}

}
@media screen and (max-width: 2400px) and (min-width: 1204px){

  .fixInputWidth {
  width: 15rem;
}
.searchContainer{

   width: 50%;
}

}
