<div class="main_container">
  <app-management-create-banking-informations *ngIf="displayModal" [BankingInfoForUpdate]="bankingInfo"
    (actiontoPerformed)="getAllBankingInfo()"></app-management-create-banking-informations>
  <div class="row">
    <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a>
    <mat-card>
      <mat-card-subtitle class="sub-title">
        <span>
          <button pRipple pButton type="button" class="p-button-primary purple" label="Export"
            icon="pi pi-file-excel"></button>
        </span>
        <span class="p-left1">&nbsp;
          <button pRipple pButton type="button" class="p-button-warning purple" (click)="showModal()"
            label="Add Banking Info" icon="pi pi-plus"></button>
        </span>
        <span class="p-left2">
          <button pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo" icon="pi pi-search"
            class="p-button-rounded p-button-secondary"></button>
        </span>
      </mat-card-subtitle>
      <hr class="divider">
      <div class="card">
        <p-table [value]="bankingInfoList" [rows]="8" [paginator]="true"
          [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
          [(selection)]="selectedBankingInfo" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <form [formGroup]="searchForm" (ngSubmit)="SearchBankingInfo()">
              <div class="flex collapse" id="demo" div>
                <span class="p-input-icon-left ">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" formControlName="param" placeholder="parameter..."
                    class="p-inputtext-sm" />&nbsp;&nbsp;
                </span>
                <span class="p-input-icon-left p-field col-md-2">
                </span>&nbsp;
                <button (click)="getAllBankingInfo()" pRipple pButton type="button" class="p-button-warning purple"
                  label="Search" icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"></button>
              </div>
            </form>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="name">Iban <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>bic</th>
              <th>Transporter</th>
              <th>status </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-BankingListData>
            <tr style="width: 3rem">
              <td>
                <p-tableCheckbox [value]="BankingListData"></p-tableCheckbox>
              </td>
              <td>{{BankingListData.iban}}</td>
              <td>{{BankingListData.bic}}</td>
              <td>{{BankingListData.transporter?.name}}</td>
              <td>{{BankingListData.status}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editBankingInfo(BankingListData)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deleteBankingInfo(BankingListData)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>
  </div>
</div>
