.p-left2{
    position: absolute;
     right: 0;
     margin-right: 1%;
}
.p-left1{
    position: absolute;
     right: 0;
     margin-right: 5%;
}

.p-left3{
    position: absolute;
     right: 0;
     margin-right: 23%;
}

.pp-left3{
    position: absolute;
     right: 0;
     margin-right: 23%;
}



