::ng-deep .p-sidebar-mask.p-component-overlay {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: calc(100vW - 45vW) !important;
    height: 100% !important;
  }
  
  .Tgras{
    font-weight: bold
}
