
<p-sidebar [(visible)]="displayedSideModal" styleClass="hello" position="right" [style]="{width:'45%'}"   [baseZIndex]="999999"
(onHide)="closeSideModal()" > 

<h1 class="text-warning">Transport : <span class="text-primary">{{ transporterIdForDetail}}</span> </h1>
<p-divider type="dashed"></p-divider>

&nbsp;
<div class="contairner">
  <div class="grid">
    <div class="row">
      <div class="col-md-6">
        <h4><span class="Tgras">Carrier  :</span> {{ transportDetail?.transport.carrierRef }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Driver </span> : {{ transportDetail?.transport.driverRef }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Vehicle </span> : {{ transportDetail?.transport.vehicleRef }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Trasport Price</span> : {{ transportDetail?.transport.price }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Load Date</span> : {{ transportDetail?.transport.loadDate | date }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Trasport status</span> : {{ transportDetail?.transport.status }}</h4>
      </div>
    </div>


    <p-divider></p-divider>
    <h2> <span class="text-primary">Transporter</span> </h2>
    <div class="row">
      <div class="col-md-6">
        <h4><span class="Tgras"> Name :</span> {{ transportDetail?.transporter.name }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Address :</span> {{ transportDetail?.transporter.address }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> City :</span> {{ transportDetail?.transporter.city }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Email :</span> {{ transportDetail?.transporter.email }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Phone :</span> {{ transportDetail?.transporter.phone }}</h4> 
      </div> 
      <div class="col-md-6">
        <h4><span class="Tgras"> Tva :</span> {{ transportDetail?.transporter.tva }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Licence Date :</span> {{ transportDetail?.transporter.licenceDate | date }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Licence Url :</span> {{ transportDetail?.transporter.licenceUrl }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Assurance Date :</span> {{ transportDetail?.transporter.assuranceDate | date }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> Assurance Url :</span> {{ transportDetail?.transporter.assuranceUrl }}</h4> 
      </div>
    </div>

    <p-divider></p-divider>
      <h2> <span class="text-primary">Customer</span> </h2>
    <div class="row">
      <div class="col-md-6">
        <h4><span class="Tgras"> Name :</span> {{ transportDetail?.customer.name }}</h4> 
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras"> City</span> : {{ transportDetail?.customer.city }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">address</span> : {{ transportDetail?.customer.address }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Email</span> : {{ transportDetail?.customer.email }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Phone</span> : {{ transportDetail?.customer.phone }}</h4>
      </div>
      <div class="col-md-6">
        <h4><span class="Tgras">Tva</span> : {{ transportDetail?.customer.tva }}</h4>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
      </div>
    </div>


    <p-divider></p-divider>
    <h2> <span class="text-primary">Users</span> </h2>
    <div class="row">
      <div class="col-md-6">
        <h4><span class="Tgras"> Name :</span> {{ transportDetail?.customer.name }}</h4> 
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
      </div>
    </div>

    <p-divider></p-divider>
    <h2> <span class="text-primary">Agents</span> </h2>
    <p-divider></p-divider>

  </div>
</div>
</p-sidebar>
