

.sub-title {
  display: flex;
  justify-content: space-between;
}
.icon-duplicated {
  font-size: 30px;
}
.affect-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.m-card {
    // background-color: #525;
}
.s-card {
    box-shadow: 0px 0px 8px 2px #c4bfbf;
    margin-bottom: 20px;
}
.pull-right {
    display: flex !important;
    justify-content: flex-end !important;
}
h1, .general {
    //margin-top: 40px;
}
:host ::ng-deep {
}

.info-card {
    overflow-y: scroll;
   // height: 79vh;
}

// walter global css**-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
.section-card {
  display: none;
}


.mapAndDescription {
  // display: flex;
  // flex-direction: column;
  width: 100%;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 12px ;
}

:host ::ng-deep {
    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead > tr > th {
            text-align: left;
        }

        .p-datatable-tbody > tr > td {
            cursor: auto;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }
}


// start  responsive primeng table

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr {
                    border-bottom: 1px solid var(--layer-2);

                    > td {
                        text-align: left;
                        display: block;
                        border: 0 none !important;
                        width: 100% !important;
                        float: left;
                        clear: left;
                        border: 0 none;

                        .p-column-title {
                            padding: .4rem;
                            min-width: 30%;
                            display: inline-block;
                            margin: -.4rem 1rem -.4rem -.4rem;
                            font-weight: bold;
                        }

                        .p-progressbar {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }

}

// end responsive primeng table

@media screen and (max-width: 1204px) and (min-width: 600px){

  .mapAndDescription {
  // display: flex;
  // flex-direction: column;
  width: 100%;
}

}
@media screen and (max-width: 2400px) and (min-width: 1204px){

  .addButton {
  font-size: var(--regular-size);
}

.mapAndDescription {
   display: flex;
   height: 65vh;
}
.section-card {
    margin-top: 3rem;
    height: 90vh;
    display: grid;
    justify-content: center;
    background-color: rgba(9, 252, 252, 0.333);
}
}



