<div class="main_container">
  <app-share-form></app-share-form>

  <div>
    <a routerLink="/commercial/list" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a>
  </div>
  <div class="mapAndDescription">

    <div class="col">
      <mat-card class="m-card info-card">
        <mat-card-subtitle class="sub-title">
          <h1 class="bold" style="margin:0">Order details <span class="text-primary small-text">({{
              data?.customerBillRef }})</span></h1>
              <span *ngIf="data?.status === 'DRAFT' || isDuplicated" pTooltip="Duplicated order" class="pi pi-copy icon-duplicated text-warning"></span>
        </mat-card-subtitle>
        <hr class="divider">
        <mat-card-content>
          <div class="affect-button">
            <p-splitButton label="Send for exploitation" icon="pi pi-share-alt" (onClick)="showDestinationModal()"
              [model]="items" styleClass="p-button-text" style="border:1px solid #D38CBC!important;border-radius: .5rem;"></p-splitButton>
          </div>
          <h2 class="bold mt-4"><span class="text-primary">Routes information</span> &nbsp;<i
              class="pi pi-car"  style="color:#D38CBC "></i></h2>
          <hr class="divider">
          <p-table [value]="destinations">
            <ng-template pTemplate="header">
              <tr>
                <th>Type</th>
                <th>From</th>
                <th>At</th>
                <th>Date</th>
                <th>Weight(t)</th>
                <th>Floor meter(mpl)</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-destination>
              <tr>
                <td>
                  <p-tag [severity]="destination.destinationType === 'LOAD' ? 'warning' : 'primary'"
                    value="{{destination.destinationType}}"></p-tag>
                </td>
                <td>{{ destination.city }}</td>
                <td>{{ destination.address }}</td>
                <td>{{ destination.dateStr | date: 'MM/dd/yyyy hh:mm' }}</td>
                <td>{{ destination.tonnage }}</td>
                <td>{{ destination.mpl }}</td>
              </tr>
            </ng-template>
                  <ng-template pTemplate="body" let-destination>
                    <tr class="p-selectable-row">
                      <td>
                        <span class="p-column-title" style="font-weight:bold">Type</span>
                        <p-tag [severity]="destination.destinationType === 'LOAD' ? 'warning' : 'primary'"
                          value="{{destination.destinationType}}"></p-tag>
                      </td>
                      <td>
                        <span class="p-column-title" style="font-weight:bold">From</span>
                        {{ destination.city }}
                      </td>
                      <td>
                        <span class="p-column-title" style="font-weight:bold">At</span>
                        {{ destination.address }}
                      </td>
                      <td>
                        <span class="p-column-title" style="font-weight:bold">Date</span>
                        {{ destination.dateStr | date: 'MM/dd/yyyy hh:mm' }}
                      </td>
                      <td>
                        <span class="p-column-title" style="font-weight:bold">Weight(t)</span>
                        {{ destination.tonnage }}
                      </td>
                      <td>
                        <span class="p-column-title" style="font-weight:bold">Floor meter(mpl)</span>
                        {{ destination.mpl }}
                      </td>

                    </tr>
                  </ng-template>
          </p-table>
          <h2 class="bold general"><span class="text-primary">General information</span> &nbsp;<i
              class="pi pi-book "  style="color:#D38CBC "></i></h2>
          <hr class="divider">
          <div class="row">
            <div class="col">
              <p><span class="text-darked">Customer name:</span> {{ data?.customerRef }}</p>
              <p><span class="text-darked">Type of goods:</span> {{ data?.typeGoodRef }}</p>
              <p><span class="text-darked">Customer billing reference:</span> {{ data?.customerBillRef }}</p>
              <p><span class="text-darked">Weight(t):</span> {{ data?.tonnage }}</p>
              <p><span class="text-darked">Comment:</span></p>
            </div>
            <div class="col">
              <p><span class="text-darked">Vehicle:</span> {{ data?.recommandedVehiclesIds[0] }}</p>
              <p><span class="text-darked">Type of pallet:</span> {{ data?.typePalletteRef }}</p>
              <p><span class="text-darked">Quantity of pallet:</span> {{ data?.palletteQte }}</p>
              <p><span class="text-darked">mpl:</span> {{ data?.mpl }}</p>
            </div>
          </div>
          <div class="row">
            <p-accordion>
              <p-accordionTab header="Comment" [selected]="true"  class="showDesktop">
                <p>{{ data?.comment }}</p>
              </p-accordionTab>
            </p-accordion>
            <p-accordion>
              <p-accordionTab header="Comment"  class="showMobile">
                <p>{{ data?.comment }}</p>
              </p-accordionTab>
            </p-accordion>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col section-card" id="map">
      <app-map></app-map>
    </div>

 </div>
</div>
