<div class="main_container" style=" height:95vh;">
  <div class="card">
    <img class="col-6 flex imglog " alt="logo" src="assets/img/tms_logo1.png"><br><br>
    <div class="grid">
      <h1 class="bold text-center big-text">Welcome to <span class="text-warning">LISS TMS</span></h1>
      <br><br>
      <form [formGroup]="loginForm" >
        <div class="col-10 flex blocktext">
          <div class="p-fluid">
            <div class="field mb-2">
              <label for="username">Username</label>
              <input pInputText id="username" formControlName="username" type="text" />
            </div>
            <div class="field mb-2">
              <label for="password">Password</label>
              <input pInputText id="password" formControlName="password" type="password" />
            </div>
          </div>
          <div class="form-group"> <br>
            <p-button pRipple label=" Login " styleClass="p-button-warning aling-right" [loading]="loading[3]" (onClick)="load(3)">
            </p-button>
          </div>
        </div>
      </form>
    </div><br><br><br><br><br><br><br><br>
    <div class="mb-4 text-center">
      <label for="Copyright">Copyright</label> &nbsp; | &nbsp; <a href="liss-sarl.com">liss-sarl.com</a> &nbsp; | &nbsp;
      <label for="year">2022</label>
    </div>
  </div>
</div>
