.imglog{
    display: block;
    margin: auto;
}

:host ::ng-deep .card {

    margin: auto;
    width: 30%;
    padding: 20px;
    height: 94%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 78px #00000029;
    border-radius: 28px;
    opacity: 1;

}

:host ::ng-deep body::-webkit-scrollbar {
    display: none;
}

.main_container  {
    // margin: 50px;
    margin-top: 2% !important;
    margin-bottom: -100% !important;
  }

 input{
    background: #ffffff 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 0px 12px #0000000F !important;
    border-radius: 15px;
    border: none;
    opacity: 1;
  }

  .blocktext {
    margin-left: auto;
    margin-right: auto;
}
