<p-dialog header="{{ BankingInfoForUpdate ?  'Update BanKing info':  'BanKing Info' }}" [(visible)]="displayModal"
  [modal]="true" [style]="{width: '60vw'}" (onHide)="closeModal()">
  <p-tabView>
    <form [formGroup]="bankingInfoForm" (ngSubmit)="addBankingInfo()">
      <div class="p-fluid">
        <div class="row mt-2">
          <div class="p-field col-md-12">
            <label for="transporter" class="text-primary">Transporter <span class="text-danger">*</span></label>
            <ng-select formControlName="transporter">
              <ng-option class="onTop" *ngFor="let transporter of TransportersList" [value]="transporter">
                {{ transporter.name }}</ng-option>
            </ng-select>
            <span class="text-danger">
              {{ formErrors?.['transporter'] }}
            </span>
          </div>
        </div>

        <div class="row mt-2">
          <div class="p-field col-md-6">
            <label for="iban" class="text-primary">iban <span class="text-danger">*</span></label>
            <input id="iban" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['iban'] }" formControlName="iban"
              type="text" pInputText placeholder="Enter iban">
            <span class="text-danger">
              {{ formErrors?.['iban'] }}
            </span>
          </div>

          <div class="p-field col-md-6">
            <label for="bic" class="text-primary">bic <span class="text-danger">*</span></label>
            <input id="bic" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['bic'] }" formControlName="bic" type="text"
              pInputText placeholder="Enter bic">
            <span class="text-danger">
              {{ formErrors?.['bic'] }}
            </span>
          </div>
        </div>
      </div>
    </form>
  </p-tabView>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="displayModal=false"></button>
    <button pButton pRipple type="submit" class="p-button-warning"
      label="{{ BankingInfoForUpdate ? 'Update BankingInfo': 'Add BankingInfo' }}"
      (click)="BankingInfoForUpdate ? updateBankingInfo(): addBankingInfo()"></button>
  </ng-template>
