.mat-toolbar {
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029 !important;
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029 !important;
  display: flex;
  justify-content: space-between;

}
.filler {
  flex: 1 1 auto;
}
.dropdown-menu {
  min-width: 0.1rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  border: 1px solid rgba(143, 137, 137, 0.15);
}
.dropdown-item {
  display: block;
  padding: .2rem 1rem;
  text-align: inherit;
  background-color: transparent;
  border: 0;
}


//walter css for navbar *-*-*-*--*--**-**--**--*-*-*-*-*-*-**-*-------------------**-*

.navbar-containerW {
  font-size: var( --medium-size);
 padding: 1rem 0 0 ;
   height: 5rem ;
  width: 100%;
  line-height: 1.5;
  background: var(--firstBackground-color);
  overflow-x: hidden;
  transition: 0.5s;
  border-bottom: 1px solid #00000029;
}

.navbar-headerW {
  padding: 0 .4rem;
  display: flex;
  justify-content: space-between;
}
.bold {
  color:#D38CBC;
  font-weight: 600;
}
.bellAndDate {
  display: flex;
  flex-direction: column;
}
.bell {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: .8rem;
}

.bell img {
  width:1rem;
  height:1rem;
  border-radius:50%;
}

.bell select {
  border:none;
  width:2.4rem;
  background:transparent;
  font-size:1rem;
}


.bellAndNotification {
   padding-left: .4rem ;
  position: relative;
  //margin-left: .8rem;
  display: inline-block;
  border-radius: 2px;
}
.badgeW {
    position: absolute;
    /* z-index: 3; */
    border-radius: 50%;
    background-color: red;
    color: white;
    height: .7rem;
    width: .7rem;
    top: -1px;
    right: .1px;
    text-align: center;
    font-size: 7px;

}
.date {
    display: flex;
  flex-direction: column;

}

.navbar-footerW {
  display: flex;
  //padding: 0 .4rem;
  align-items: center;
}

.breakcrumb-Button {
  padding: .1rem;
  background-color: rgba(129, 141, 159, 0.1);
  border-radius: 4px;
}

.breakcrumb-Button span {
  padding: .5rem;

}

@media screen and (max-width: 922px) and (min-width: 600px){

  .navbar-containerW {
  font-size: var( --regular-size);
 // padding: 2rem 0 0 ;
  height: 5rem ;

}

.navbar-headerW {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
}

.bell img {
  width:1.7rem;
  height:1.7rem;
  border-radius:50%;
}

.bell select {
  border:none;
  width:2.4rem;
  background:transparent;
  font-size:1.7rem;
}

.bellAndNotification {
   padding-left: .8rem ;
  position: relative;
  //margin-left: .8rem;
  display: inline-block;
  border-radius: 2px;
}

.badgeW {
    position: absolute;
    /* z-index: 3; */
    border-radius: 50%;
    background-color: red;
    color: white;
    height: 1rem;
    width: 1rem;
    top: -6px;
    right: 1px;
    text-align: center;
    font-size: 10px;
}

}

@media screen and (max-width:2400px) and (min-width: 922px){
    .navbar-containerW {
  font-size: var( --bigNext-size);
  padding: 2rem 0 0 ;
  height: 5rem ;
}

.badgeW {
    position: absolute;
    /* z-index: 3; */
    border-radius: 50%;
    background-color: red;
    color: white;
    height: 1rem;
    width: 1rem;
    top: -6px;
    right: 1px;
    text-align: center;
    font-size: 10px;
}

.navbar-headerW {
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;

}
.navbar-footerW {
  display: flex;
//  padding: 0 3rem;
}

.bell img {
  width:1.7rem;
  height:1.7rem;
  border-radius:50%;
}

.bell select {
  border:none;
  width:2.4rem;
  background:transparent;
  font-size:1.7rem;
}



.bellAndNotification {
   padding-left: .8rem ;
  position: relative;
  //margin-left: .8rem;
  display: inline-block;
  border-radius: 2px;
}

}

