  <!-- <div class="showMobile ">

    <mat-toolbar>
      <app-toggle-sidebar ></app-toggle-sidebar>

      <a mat-button class="companyName" routerLink="/">
        <img src="../../../../assets/logo.png" height="50" alt="logo">
      </a>

      <span class="filler"></span>

      <button mat-button [matMenuTriggerFor]="lang"><span class="fi fi-{{ langCode ? langCode : 'gb' }}"></span></button>
      <mat-menu #lang="matMenu">
        <button mat-menu-item (click)="changeLanguage('gb')"><span class="fi fi-gb"></span></button>
        <button mat-menu-item (click)="changeLanguage('fr')"><span class="fi fi-fr"></span></button>
      </mat-menu>

      <div class="p-toolbar-group-right">
        <p-avatar label="AC" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
      </div>

      <button mat-button [matMenuTriggerFor]="user">LGL Transport <i class="pi pi-angle-down"></i></button>
      <mat-menu #user="matMenu">
        <button mat-menu-item><i class="pi pi-user"></i> Profile</button>
        <button mat-menu-item><i class="pi pi-sign-out"></i> Logout</button>
      </mat-menu>
    </mat-toolbar>

  </div>
  <div class="showDesktop">
    <mat-toolbar>
      <div class="hambugerMenu">
        <p-sidebar [(visible)]="visibleSidebar1" [style]="{width:'14rem'}" [baseZIndex]="10000" [dismissible]="false">
          <app-sidebar></app-sidebar>
        </p-sidebar>
        <button mat-icon-button (click)="visibleSidebar1 = true">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <a mat-button class="companyName" routerLink="/">
        <img src="../../../../assets/logo.png" height="50" alt="logo">
      </a>

    </mat-toolbar>

  </div> -->

<div class="navbar-containerW">
    <div class="navbar-headerW">
      <div class="welcomeText">
        <div class="navbar-footerW" >
          <img src="../assets/img/home.png" alt="" style="width:1.7rem;height:1.7rem;">
          <img src="../assets/img/chevron-right.png" alt="" style="width:1.7rem;height:1.7rem;">
          <span>Dashboard</span>
          <img src="../assets/img/chevron-right.png" alt="" style="width:1.7rem;height:1.7rem;">
          <div class="breakcrumb-Button">
            <span class="bold">Orders</span>
          </div>
        </div>
        <!-- <span>Hello Walter,</span>
        <span class="bold">bienvenue </span>
        <img src="../assets/img/smile.png" alt="" style="width:1rem;height:1rem;"> -->
<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index"
    [class.active]="i===breadcrumbList.length-1">
    <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
      {{ item.name }}
    </a>
    <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
  </li>
</ol> -->
      </div>
        <div class="bellAndDate">
         <div class="bell">
              <!-- <span style="font-size:2.2rem;margin-right: 1rem;">Fr</span> -->
              <img src="../assets/img/French_Flag.png" alt="" >
              <select name="" id="" >

                <option value="fr">Fr</option>
                <option value="en">En</option>
              </select>
              <div class="bellAndNotification">
                <img src="../assets/img/bell.png" alt="" >
                <span class="badgeW">5</span>
              </div>
          </div>
          <!-- <div class="date">
            <span class="bold">{{date}}</span>
            <span>(Afrique/Yaounde)</span>
          </div> -->
        </div>
    </div>
    <!-- <div class="spacer"></div> -->
  </div>
