
.loader {
    position: relative;
    background-color: rgb(235, 235, 235);
    width: 200px;
    height: 20px;
    /* background: #efefee; */
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  .loader::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
   /* background: linear-gradient(90deg, transparent, #f1f1f1, transparent); */
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    animation: loading 1s infinite;
  }

  @keyframes loading {
    100% {
      transform: translateX(100%);
    }
  }
