<p-dialog [(visible)]="displayModal" [closable]="true" [modal]="true" [style]="{width: '60vw'}"
  (onHide)="showDestinationModal()">
  <ng-template pTemplate="header">
    <div class="row col-md-12">
      <h2 class="col-6">Update transport</h2>
    </div>
  </ng-template>
  <div class="p-fluid">
    <form novalidate (ngSubmit)="updateTransport()" [formGroup]="transportForm">

      <div class="row mt-2">
        <div class="p-field col-md-6">
          <label for="vehicleRef" class="text-primary">Vehicle reference <span class="text-danger">*</span></label>
          <input formControlName="vehicleRef" pInputText type="text"
            [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['vehicleRef'] }">
          <span class="text-danger">
            {{ formErrors?.['vehicleRef'] }}
          </span>
        </div>
        <div class="p-field col-md-6">
          <label for="price" class="text-primary">Price <span class="text-danger">*</span></label>
          <input formControlName="price" pInputText type="text"
            [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['price'] }">
          <span class="text-danger">
            {{ formErrors?.['price'] }}
          </span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="p-field col-md-6">
          <label for="driverRef" class="text-primary">Driver reference <span class="text-danger">*</span></label>
          <input formControlName="driverRef" pInputText type="text"
            [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['driverRef'] }">
          <span class="text-danger">
            {{ formErrors?.['driverRef'] }}
          </span>
        </div>
        <div class="p-field col-md-6">
          <label for="carrierRef" class="text-primary">Transporter reference <span class="text-danger">*</span></label>
          <input formControlName="carrierRef" pInputText type="text"
            [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['carrierRef'] }">
          <span class="text-danger">
            {{ formErrors?.['carrierRef'] }}
          </span>
        </div>
      </div>

      <div class="row mt-2">
        <div class="p-field col-md-12">
          <label for="comment" class="text-primary">Comment</label>
          <input formControlName="comment" pInputTextarea type="text">
        </div>
      </div>

    </form>

    <div class="row mt-2 footer-button">
      <div class="col-md-5 mt-4">
        <button (click)="displayModal=false" pButton pRipple type="button" label="Cancel"
          class="p-button-danger"></button>
      </div>
      <div class="col-md-5 mt-4 footer-button">
        <button pButton pRipple type="button" (click)="updateTransport()" label="Update transport" icon="pi pi-pencil"
          class="p-button-raised p-button-warning"></button>
      </div>
    </div>
  </div>
</p-dialog>
