<p-dialog header="{{ editConfigurationData ? 'Update Configuration' : 'Add Configuration' }}" [(visible)]="displayModal"
  [modal]="true" [style]="{width: '50vw'}" (onHide)="closeModal()">
  <p-tabView>
    <form [formGroup]="configurationForm">
      <div class="p-fluid">
        <div class="row mt-2">
          <div class="p-field col-md-6">
            <label for="key" class="text-primary">Configuration Key <span class="text-danger">*</span></label>
            <input id="key" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['key'] }" formControlName="key" type="text"
              pInputText placeholder="Enter Key">
            <span class="text-danger">
              {{ formErrors?.['key'] }}
            </span>
          </div>

          <div class="p-field col-md-6">
            <label for="value" class="text-primary">Value <span class="text-danger">*</span></label>
            <input id="value" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['value'] }" formControlName="value"
              type="text" pInputText placeholder="Enter value">
            <span class="text-danger">
              {{ formErrors?.['value'] }}
            </span>
          </div>
        </div>
      </div>
    </form>
  </p-tabView>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="displayModal=false"></button>
    <button pButton pRipple type="submit" (click)="editConfigurationData ? updateConfiguration(): addConfiguration()"
      class="p-button-warning"
      label=" {{ editConfigurationData ? 'Update Configuration' : 'Add Configuration' }}"></button>
  </ng-template>
</p-dialog>
