// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tms-frontend-primary: mat.define-palette(mat.$indigo-palette);
$tms-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tms-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $tms-frontend-theme: mat.define-light-theme((color: (primary: $tms-frontend-primary,
//         accent: $tms-frontend-accent,
//         warn: $tms-frontend-warn,
//       )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tms-frontend-theme);

@import "./variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/containers"; // Add .container and .container-fluid classes
@import "~bootstrap/scss/grid"; // Add the grid system

@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./reset";

@import "~@ng-select/ng-select/themes/default.theme.css";

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  /*Colors */
  --myprimary-color: #D38CBC;
  --primary-color-900: #818D9F;
  --secondary-color: #FFFFFF;
  --firstBackground-color: #F5F6F8;
  --secondBackground-color: #0C143C;
   --secondBackground-400-color: #333859;
  --error-color: #ED2938;

  /*Font sizes*/
  --big-size: 24px;
  --bigNext-size: 16px;
  --regular-size: 14px;
  --medium-size: 12px;
  --small-size: .9rem;
  --verySmall-size: .725rem;

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
 // overflow: hidden;
  background-color: #fff;
}
*{
  outline: 0;
}

a {
  text-decoration: none !important;
}

.ml-2 {
  margin-left: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.mr-2 {
  margin-right: 2px;
}

.mr-4 {
  margin-right: 4px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-4 {
  padding-left: 4px;
}

.pr-2 {
  padding-right: 2px;
}

.pr-4 {
  padding-right: 4px;
}

.pmt-2 {
  margin-top: 20px !important;
}

.pmt-5 {
  margin-top: 50px !important;
}

.mt-4 {
  margin-top: 40px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: -01px;
}

.mb-4 {
  margin-bottom: 40px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-4 {
  padding-top: 4px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-4 {
  padding-bottom: 4px;
}

.back-button {
  color: #6366F1 !important;
  background: #ffffff !important;
  border: none !important;
  margin-bottom: 10px !important;
}

.bold {
  font-weight: 550 !important;
}

.small-text {
  font-size: 0.9em !important;
}

.big-text {
  font-size: 2.2em !important;
}

.x-small-text {
  font-size: 0.7em !important;
}

.text-darked {
  color: #8d8d8d;
}

.text-primary {
  color: #2E4DD4;
}

.text-seconda {
  color: #0099D5;
}

.text-danger {
  color: #FF0007;
}

.text-warning {
  color: #F7B71D;
}

.text-center {
  text-align: center;
}

.aling-right {
  float: right;
}


.mat-drawer-container {
  height: 100vh;
  margin-bottom: 100px !important;
}

a {
  text-decoration: none;
}

.mat-drawer {
  color: rgba(0, 0, 0, 0.87);
  z-index: -1 !important;
  box-shadow: 0px 3px 50px #00000029 !important;
}

.mat-toolbar {
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029 !important;
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #D38CBC;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D38CBC;
  border-radius: 10px;
}

.logCard {
  /* Layout Properties */
  top: 104px;
  left: 622px;
  width: 595px;
  height: 690px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 78px #00000029;
  border-radius: 28px;
  opacity: 1;
}
input,
select,
optgroup,
textarea {
  // color: #a7a7a7 !important;
  font-size: 0.95rem !important;
}

.p-inputtext {
  padding: 8px !important;
}

.search-button {
  padding: 8px !important;
}


.spinner {
  display: flex;
  justify-content: center;
}

.spinner i {
  font-size: 4rem;
  color: #F59E0B;
}

.pfleft {
  float: right;
  color: red
}

.redLine {
  color: red;
}

.greenLine {
  color: rgb(3, 167, 11);
}

.greenLine {
  color: rgb(3, 167, 11);
}

.pi-exclamation-triangle {
  color: #fa1717 !important;
}




//walter global css *-*-*-*-*-*-*-*-*-*-*-**-*-*--*-*-*-*-*-*-*--**-*-*-*-*--*--*-*-*-*-*-*--*--*-*-*-*-**--*-*-*-*---*-*-**

.centeredBox {
  display: grid;
  justify-content: center;
}


.showDesktop {
  display: none;
}
.showMobile {
  display: block;
}
.containerW {
// display: flex;
 //flex-wrap: nowrap;
}

.centeredBox {
  display: grid;
  justify-content: center;
}

.main-body {
  padding: 0 1rem;
}

.sidebarW {
   position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.2rem;
  line-height: 1.5;
  background: var(--firstBackground-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1rem 0;
  z-index: 10;
  border-right: 1px solid #00000029;
}
.main-containerW {
  margin-left: 6.2rem;

}


.main_container {
  // margin: 50px;
  margin: 0;
  margin-bottom: 100px !important;
}


.sub-title {
  display: flex;
  flex-direction: column;
}

.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}


.fixSearch{
  width: 3rem;
}

.fixInputWidth {
  width: 5.1rem;
}

.flexHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.previousAndAddCustomer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.fixInCenter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.searchContainer{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
   width: 100%;
}

@media screen and (max-width: 904px) and (min-width: 600px){
.fixInputWidth {
  width: 7rem;
}
.searchContainer{
   width: 100%;
}
  .sidebarW {
  width: 14.5rem;
  padding: 2rem 0;
}
.main-containerW {
  margin-left: 14.5rem;
}
.showDesktop {
  display: block;
}
.showMobile {
  display: none;
}

.main_container {
  // margin: 50px;
  margin: 1rem;
  margin-bottom: 100px !important;
}

.main-body {
  padding: 0 .1rem;
}


}

@media screen and (max-width: 1204px) and (min-width: 905px){
.fixInputWidth {
  width: 9rem;
}
.searchContainer{
   width: 80%;
}

  .sidebarW {
  width: 14.5rem;
  padding: 2rem 0;
}
.main-containerW {
  margin-left: 14.5rem;
}
.showDesktop {
  display: block;
}
.showMobile {
  display: none;
}

.main_container {
  // margin: 50px;
  margin: 1rem;
  margin-bottom: 100px !important;
}

.main-body {
  padding: 0 .1rem;
}

}

@media screen and (max-width: 2400px) and (min-width: 1204px){

  .fixInputWidth {
  width: 15rem;
}
.searchContainer{

   width: 70%;
}

 .sidebarW {
  width: 18.5rem;
}

.showDesktop {
  display: block;
}

.main-body {
  padding: 0 3rem;
}

.showMobile {
  display: none;
}

.main-containerW {
  margin-left: 18.5rem;

}

}


input,
select,
optgroup,
textarea {
  // color: #a7a7a7 !important;
  font-size: 0.95rem !important;
}

.p-inputtext {
  padding: 8px !important;
}

.search-button {
  padding: 8px !important;
}
