<div class="showMobile">
  <p-dialog header="{{ (customerToUpdate != null) || (customerToUpdate != undefined) ? 'Update customer':' customer'}}"
    [(visible)]="displayModal" [modal]="true" [style]="{width: '90%'}" (onHide)="closeModal()">

    <p-tabView>
      <form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
        <div class="p-fluid">
          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="name" class="text-primary">Customer Name <span class="text-danger">*</span></label>
              <input id="name" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="name"
                type="text" pInputText placeholder="Enter name">
              <span class="text-danger">
                {{ formErrors?.['name'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="tva" class="text-primary">VAT <span class="text-danger">*</span></label>
              <input id="tva" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['tva'] }" formControlName="tva"
                type="text" pInputText placeholder="Enter Vat">
              <span class="text-danger">
                {{ formErrors?.['tva'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="siren" class="text-primary">Siren<span class="text-danger">*</span></label>
              <input id="siren" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['siren'] }" formControlName="siren"
                type="text" pInputText placeholder="Enter siren">
              <span class="text-danger">
                {{ formErrors?.['siren'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="siret" class="text-primary">Siret<span class="text-danger">*</span></label>
              <input id="siret" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['siret'] }" formControlName="siret"
                type="text" pInputText placeholder="Enter Siret">
              <span class="text-danger">
                {{ formErrors?.['siret'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="countryCode" class="text-primary">Country Code<span class="text-danger">*</span></label>
              <input id="countryCode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['countryCode'] }"
                formControlName="countryCode" type="text" pInputText placeholder="Enter countryCode">
              <span class="text-danger">
                {{ formErrors?.['countryCode'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="city" class="text-primary">City<span class="text-danger">*</span></label>
              <input id="city" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['city'] }" formControlName="city"
                type="text" pInputText placeholder="Enter city">
              <span class="text-danger">
                {{ formErrors?.['city'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="address" class="text-primary">Address<span class="text-danger">*</span></label>
              <input id="address" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['address'] }"
                formControlName="address" type="text" pInputText placeholder="Enter Address">
              <span class="text-danger">
                {{ formErrors?.['address'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="zipcode" class="text-primary">zip Code<span class="text-danger">*</span></label>
              <input id="zipcode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['zipcode'] }"
                formControlName="zipcode" type="text" pInputText placeholder="Enter zipcode">
              <span class="text-danger">
                {{ formErrors?.['zipcode'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="phone" class="text-primary">Number<span class="text-danger">*</span></label>
              <input id="phone" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['phone'] }" formControlName="phone"
                type="number" pInputText placeholder="Enter phone">
              <span class="text-danger">
                {{ formErrors?.['phone'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="fax" class="text-primary">fax</label>
              <input id="fax" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['fax'] }" formControlName="fax"
                type="text" pInputText placeholder="Enter fax">
              <span class="text-danger">
                {{ formErrors?.['fax'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="email" class="text-primary">email</label>
              <input id="email" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['email'] }" formControlName="email"
                type="text" pInputText placeholder="Enter email">
              <span class="text-danger">
                {{ formErrors?.['email'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="paymentsDaysNumber" class="text-primary">payments Days</label>
              <input id="paymentsDaysNumber" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['paymentsDaysNumber'] }"
                formControlName="paymentsDaysNumber" type="number" pInputText placeholder="Enter paymentsDays">
              <span class="text-danger">
                {{ formErrors?.['paymentsDaysNumber'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="paymentsDaysPeriod" class="text-primary">payement Period</label>
              <input id="paymentsDaysPeriod" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['payement_days_period'] }"
                formControlName="paymentsDaysPeriod" type="text" pInputText placeholder="Enter paymentsDaysPeriod">
              <span class="text-danger">
                {{ formErrors?.['paymentsDaysPeriod'] }}
              </span>
            </div>

          </div>
          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="valueTva" class="text-primary">value Tva</label>
              <input id="valueTva" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['valueTva'] }"
                formControlName="valueTva" type="number" pInputText placeholder="Enter vat value">
              <span class="text-danger">
                {{ formErrors?.['valueTva'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="outstanding" class="text-primary">Outstanding</label>
              <input id="outstanding" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['outstanding'] }"
                formControlName="outstanding" type="number" pInputText placeholder="Enter outstanding">
              <span class="text-danger">
                {{ formErrors?.['outstanding'] }}
              </span>
            </div>

          </div>
          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="comment" class="text-primary">Comment</label>
              <textarea id="comment" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['comment'] }"
                formControlName="comment" type="text" pInputText placeholder="Enter comment"> </textarea>
              <span class="text-danger">
                {{ formErrors?.['comment'] }}
              </span>
            </div>
          </div>
        </div><br><br>

        <span class="pfleft">
          <button pButton pRipple type="button" (click)="displayModal = false" label="Cancel"
            class="p-button-danger"></button>&nbsp;&nbsp;
          <button pButton pRipple type="button"
            (click)="(customerToUpdate != null) || (customerToUpdate != undefined) ? updateCustomer(): createCustomer()"
            class="p-button-warning" label="{{customerToUpdate ? 'Update Customer':'Add Customer' }}"></button>
        </span>
      </form>
    </p-tabView>
  </p-dialog>

</div>

<div class="showDesktop">
  <p-dialog header="{{ (customerToUpdate != null) || (customerToUpdate != undefined) ? 'Update customer':' customer'}}"
    [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" (onHide)="closeModal()">

    <p-tabView>
      <form [formGroup]="customerForm" (ngSubmit)="createCustomer()">
        <div class="p-fluid">
          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="name" class="text-primary">Customer Name <span class="text-danger">*</span></label>
              <input id="name" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="name"
                type="text" pInputText placeholder="Enter name">
              <span class="text-danger">
                {{ formErrors?.['name'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="tva" class="text-primary">VAT <span class="text-danger">*</span></label>
              <input id="tva" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['tva'] }" formControlName="tva" type="text"
                pInputText placeholder="Enter Vat">
              <span class="text-danger">
                {{ formErrors?.['tva'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="siren" class="text-primary">Siren<span class="text-danger">*</span></label>
              <input id="siren" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['siren'] }" formControlName="siren"
                type="text" pInputText placeholder="Enter siren">
              <span class="text-danger">
                {{ formErrors?.['siren'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="siret" class="text-primary">Siret<span class="text-danger">*</span></label>
              <input id="siret" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['siret'] }" formControlName="siret"
                type="text" pInputText placeholder="Enter Siret">
              <span class="text-danger">
                {{ formErrors?.['siret'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="countryCode" class="text-primary">Country Code<span class="text-danger">*</span></label>
              <input id="countryCode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['countryCode'] }"
                formControlName="countryCode" type="text" pInputText placeholder="Enter countryCode">
              <span class="text-danger">
                {{ formErrors?.['countryCode'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="city" class="text-primary">City<span class="text-danger">*</span></label>
              <input id="city" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['city'] }" formControlName="city"
                type="text" pInputText placeholder="Enter city">
              <span class="text-danger">
                {{ formErrors?.['city'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="address" class="text-primary">Address<span class="text-danger">*</span></label>
              <input id="address" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['address'] }" formControlName="address"
                type="text" pInputText placeholder="Enter Address">
              <span class="text-danger">
                {{ formErrors?.['address'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="zipcode" class="text-primary">zip Code<span class="text-danger">*</span></label>
              <input id="zipcode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['zipcode'] }" formControlName="zipcode"
                type="text" pInputText placeholder="Enter zipcode">
              <span class="text-danger">
                {{ formErrors?.['zipcode'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="phone" class="text-primary">Number<span class="text-danger">*</span></label>
              <input id="phone" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['phone'] }" formControlName="phone"
                type="number" pInputText placeholder="Enter phone">
              <span class="text-danger">
                {{ formErrors?.['phone'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="fax" class="text-primary">fax</label>
              <input id="fax" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['fax'] }" formControlName="fax" type="text"
                pInputText placeholder="Enter fax">
              <span class="text-danger">
                {{ formErrors?.['fax'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="email" class="text-primary">email</label>
              <input id="email" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['email'] }" formControlName="email"
                type="text" pInputText placeholder="Enter email">
              <span class="text-danger">
                {{ formErrors?.['email'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="paymentsDaysNumber" class="text-primary">payments Days</label>
              <input id="paymentsDaysNumber" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['paymentsDaysNumber'] }"
                formControlName="paymentsDaysNumber" type="number" pInputText placeholder="Enter paymentsDays">
              <span class="text-danger">
                {{ formErrors?.['paymentsDaysNumber'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="paymentsDaysPeriod" class="text-primary">payement Period</label>
              <input id="paymentsDaysPeriod" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['payement_days_period'] }"
                formControlName="paymentsDaysPeriod" type="text" pInputText placeholder="Enter paymentsDaysPeriod">
              <span class="text-danger">
                {{ formErrors?.['paymentsDaysPeriod'] }}
              </span>
            </div>

          </div>
          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="valueTva" class="text-primary">value Tva</label>
              <input id="valueTva" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['valueTva'] }"
                formControlName="valueTva" type="number" pInputText placeholder="Enter vat value">
              <span class="text-danger">
                {{ formErrors?.['valueTva'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="outstanding" class="text-primary">Outstanding</label>
              <input id="outstanding" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['outstanding'] }"
                formControlName="outstanding" type="number" pInputText placeholder="Enter outstanding">
              <span class="text-danger">
                {{ formErrors?.['outstanding'] }}
              </span>
            </div>

          </div>
          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="comment" class="text-primary">Comment</label>
              <textarea id="comment" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['comment'] }"
                formControlName="comment" type="text" pInputText placeholder="Enter comment"> </textarea>
              <span class="text-danger">
                {{ formErrors?.['comment'] }}
              </span>
            </div>
          </div>
        </div><br><br>

        <span class="pfleft">
          <button pButton pRipple type="button" (click)="displayModal = false" label="Cancel"
            class="p-button-danger"></button>&nbsp;&nbsp;
          <button pButton pRipple type="button"
            (click)="(customerToUpdate != null) || (customerToUpdate != undefined) ? updateCustomer(): createCustomer()"
            class="p-button-warning" label="{{customerToUpdate ? 'Update Customer':'Add Customer' }}"></button>
        </span>
      </form>
    </p-tabView>
  </p-dialog>

</div>
