<p-dialog header="{{ paymentMethodData ? 'Update paymentMethod' : 'Add paymentMethod' }}" [(visible)]="displayModal"
  [modal]="true" [style]="{width: '50vw'}" (onHide)="closeModal()">
  <p-tabView>
    <form [formGroup]="paymentMethodForm">
      <div class="p-fluid">
        <div class="row mt-2">
          <div class="p-field col-md-6">
            <label for="type" class="text-primary">Type Of Payment Method <span class="text-danger">*</span></label>
            <input id="type" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['type'] }" formControlName="type"
              type="text" pInputText placeholder="Enter Type Of Payment">
            <span class="text-danger">
              {{ formErrors?.['type'] }}
            </span>
          </div>

          <div class="p-field col-md-6">
            <label for="description" class="text-primary">Description <span class="text-danger"></span></label>
            <input id="description" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['description'] }"
              formControlName="description" type="text" pInputText placeholder="Enter description">
            <span class="text-danger">
              {{ formErrors?.['description'] }}
            </span>
          </div>
        </div>
      </div>
    </form>
  </p-tabView>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="Cancel" class="p-button-danger" (click)="displayModal=false"></button>
    <button pButton pRipple type="submit" (click)="paymentMethodData ? updatePaymentMethod(): addPaymentMethod()"
      class="p-button-warning" label=" {{ paymentMethodData ? 'Update PaymentMethod' : 'Add PaymentMethod' }}"></button>
  </ng-template>
</p-dialog>
