<p-dialog [(visible)]="displayModal" [closable]="true" [modal]="true" [style]="{width: '60vw'}"
  (onHide)="showDestinationModal()">
  <ng-template pTemplate="header">
    <div class="row col-md-12">
      <h2 class="col-6">{{orderId || updatedChildRoute ? 'Update route' : 'Add route'}}</h2>
    </div>
  </ng-template>
  <div class="p-fluid">
    <form novalidate (ngSubmit)="orderId || updatedChildRoute ? updateDestination(childRoute) : addDestination()"
      [formGroup]="destinationForm">
      <div class="row mt-2">
        <div class="p-field col-md-12">
          <label for="destinationType" class="text-primary">Type <span class="text-danger">*</span></label>
          <ng-select formControlName="destinationType" [clearable]="true" placeholder="Destination type"
            [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['destinationType'] }" [searchable]="true">
            <ng-option *ngFor="let chargementTypes of chargementType" [value]="chargementTypes.name">
              {{chargementTypes.name}}
            </ng-option>
          </ng-select>
          <span class="text-danger">
            {{ formErrors?.['destinationType'] }}
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="p-field col-md-6 custom-dropdown">
          <label for="countryName" class="text-primary">Country {{countryName}}<span
              class="text-danger">*</span></label>
          <!-- <input class="form-control" (ngModelChange)="getCountriesByEvent($event)" formControlName="countryName"
            list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
          <datalist id="datalistOptions">
            <option *ngFor="let country of countries" [value]="country.name">
          </datalist> -->
          <ng-select [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['countryName'] }" [items]="countries"
            bindLabel="name" (change)="getCountriesByEvent($event)" formControlName="countryName" placeholder="Country">
          </ng-select>
          <span class="text-danger">
            {{ formErrors?.['countryName'] }}
          </span>
        </div>
        <div class="p-field col-md-6">
          <label for="city" class="text-primary">City <span class="text-danger">*</span></label>
          <p-autoComplete formControlName="city" [suggestions]="cities" (completeMethod)="getCities($event)"
            autocomplete="rutjfkde" field="name" placeholder="Load city">
            <ng-template let-city pTemplate="item">
              <div class="city-item">
                <div>{{city.name}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
          <span class="text-danger">
            {{ formErrors?.['city'] }}
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="p-field col-md-6">
          <label for="address" class="text-primary">Address <span class="text-danger">*</span></label>
          <input id="address" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['address'] }" formControlName="address"
            type="text" pInputText placeholder="Address">
          <span class="text-danger">
            {{ formErrors?.['address'] }}
          </span>
        </div>
        <div class="p-field col-md-3">
          <label for="loadRef" class="text-primary">Load ref</label>
          <input id="loadRef" formControlName="loadRef" type="text" pInputText placeholder="Load reference">
        </div>
        <div class="p-field col-md-3">
          <label for="zipcode" class="text-primary">Zip code <span class="text-danger">*</span></label>
          <input id="zipcode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['zipcode'] }" formControlName="zipcode"
            type="text" pInputText placeholder="Zip code">
          <span class="text-danger">
            {{ formErrors?.['zipcode'] }}
          </span>
        </div>
      </div>
      <div class="row mt-2">
        <div class="p-field col-md-3">
          <label for="tonnage" class="text-primary">Weight(t) <span class="text-danger">*</span></label>
          <p-inputNumber inputId="tonnage" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['tonnage'] }"
            formControlName="tonnage" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"
            placeholder="Weight(t)"></p-inputNumber>
          <span class="text-danger">
            {{ formErrors?.['tonnage'] }}
          </span>
        </div>
        <div class="p-field col-md-3">
          <label for="mpl" class="text-primary">Mpl</label>
          <p-inputNumber inputId="mpl" formControlName="mpl" mode="decimal" [minFractionDigits]="2"
            [maxFractionDigits]="5" placeholder="Mpl"></p-inputNumber>
        </div>
        <div class="p-field col-md-6">
          <label for="dateStr" class="text-primary">Date <span class="text-danger">*</span></label>
          <p-calendar formControlName="dateStr" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['dateStr'] }"
            inputId="dateStr" [showTime]="true" appendTo="body" [showSeconds]="false" placeholder="Date time"
            inputId="time"></p-calendar>
          <span class="text-danger">
            {{ formErrors?.['dateStr'] }}
          </span>
        </div>
      </div>
      <div class="row mt-2 footer-button">
        <div class="col-md-3 mt-4">
          <button (click)="displayModal=false" pButton pRipple type="button" label="Cancel"
            class="p-button-danger"></button>
        </div>
        <div class="col-md-4 mt-4">
          <button *ngIf="!orderId && updatedChildRoute == null" pButton pRipple type="submit" label="Add route"
            icon="{{ spinner ? 'pi pi-spin pi-spinner' : '' }}" class="p-button-warning"></button>
          <button *ngIf="orderId || updatedChildRoute" pButton pRipple type="submit" label="Update route"
            class="p-button-warning"></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
