.footer-button {
  display: flex;
  justify-content: flex-end;
}

.custom-dropdown {
  position: relative;
}

.display-item {
  border: solid rgb(197, 193, 193) 1px;
  background-color: rgb(151, 54, 54);
  border-radius: 4px;
  width: 94%;
  display: block;
  position: absolute;
  margin-top: 5px;

  max-width: 94%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);

  overflow-y: scroll;
  height: 150px;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
}
