<div class="main_container">
    <div class="row">
      <a routerLink="/billing/list" pButton pRipple type="button" icon="pi pi-arrow-left"
        class="p-button-rounded back-button"></a>
    </div>
  
    <div class="row mb-4">
      <mat-card>
        <form [formGroup]="searchCustomerForm">
          <div class="p-fluid">
            <div class="row">
              <div class="p-field col-md-3"></div>
              <div class="p-field col-md-1"></div>
              <div class="p-field col-md-3  flex align-items-center ">
                <label for="customerRef" class="text-primary">Customer name <span class="text-danger">*</span></label>
                <p-autoComplete formControlName="customerRef" inputId="icon" InputSearchDirective 
                  (onSelect)="getCustomerBillInformation($event)"
                  [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['customerRef'] }" [suggestions]="customers"
                  (completeMethod)="getCustomers($event)" autocomplete="rutjfkde" field="name"
                  placeholder="Choose customer">
                  <ng-template let-customer pTemplate="item">
                    <div class="customer-item">
                      <div>{{customer.name}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
                <span class="text-danger">
                  {{ formErrors?.['customerRef'] }}
                </span>
              </div>

              <div class="col-md-3" *ngIf="visibleInvoceConcerned"> 
                <div class="p-grid p-fluid">
                  <label for="icoren"> Invoice Concerned</label>
                  <ng-select  [items]="billLists"
                  bindLabel="code" (change)="getTransportBillInformation($event)"  placeholder="select Invoice Concerned">
                </ng-select>
                  <!-- <select  class="form-select" placeholder="Invoice Concerned"  (change)="getTransportBillInformation($event)">
                    <option value="" disabled selected>Invoice Concerned</option>
                    <option *ngFor="let item of billLists" value="{{item.customerVat}}">{{ item.customerVat }}</option>
                  </select> -->
                </div>
              </div>

            </div>
          </div>
        </form>
      </mat-card>
    </div>
  
    <mat-card>
      <div class="card">
        <p-table [value]="transportList" [rows]="2"  responsiveLayout="scroll"
          [(selection)]="selectedTransports" [rowHover]="true"
           [showCurrentPageReport]="true"
          responsiveLayout="scroll">
         
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>carrierVat</th>
              <th>billingReference</th>
              <th>price</th>
              <th>loadDate</th>
              <th>remise <i class="pi pi-pencil"></i> </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transportList>
            <tr style="width: 3rem">
              <td>
                <p-tableCheckbox [value]="transportList"></p-tableCheckbox>
              </td>
              <td>{{transportList.carrierVat}}</td>
              <td>{{transportList.billingReference}}</td>
              <td>{{transportList.price}}</td>
              <td>{{transportList.loadDate | date}}</td>
              <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="number" (blur)='setremise()' [(ngModel)]="transportList.remise">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{transportList.remise}}
                    </ng-template>
                </p-cellEditor>
            </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are 0000 Invoice.
            </div>
          </ng-template>
        </p-table>
      </div>
    </mat-card>
  
    <br>
    <p-accordion>
      <p-accordionTab header="Ajouter les informations supplémentaire">
  
        <form [formGroup]="customerInfoForm">
          <div class="p-fluid">
            <div class="row">
              <div class="p-field col-md-4">
                <div class="p-grid p-fluid">
                  <div class="field col-12 ">
                    <label for="ifcon">vat</label>
                    <input type="text" formControlName="vat" class="form-control" placeholder="entrer vat" >
                  </div>
                </div>
              </div>
              <div class="p-field col-md-4">
                <div class="p-grid p-fluid">
                  <div class="field col-12 ">
                    <label for="ifcon">Date Facturation</label>
                    <!-- <input type="date" formControlName="facturationDate" value="{{currentDate}}" class="form-control"> -->
                    <p-calendar formControlName="facturationDate"  inputId="icon" (onSelect)="addDate()" dateFormat="dd/mm/yy" 
                    inputId="facturationDate" [showTime]="false" appendTo="body"  [showSeconds]="false" placeholder="{{currentDate}}"
                    inputId="facturationDate"></p-calendar>
                  </div>
                </div>
              </div>
              
              <div class="p-field col-md-4">
                <div class="p-grid p-fluid">
                  <div class="field col-12 ">
                    <label for="ifcon">Due date</label>
                    <!-- <input type="date" [disabled]="true" formControlName="dueDate"  value="{{currentDate}}" class="form-control" > -->
                    
                  <p-calendar formControlName="dueDate" [disabled]="true" dateFormat="dd/mm/yy"  [(ngModel)]="dueDate"
                  inputId="dueDate"    placeholder="{{currentDate}}"></p-calendar>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  &nbsp;
          <div class="p-fluid">
            <div class="row">
  
              <div class="p-field col-md-6">
                <div class="p-grid p-fluid">
                  <div class="field col-12 ">
                    <label for="ifcon">Comment</label>
                    <textarea id="comment" formControlName="comment" type="text" pInputText
                    placeholder="Enter comment"> </textarea>
                  </div>
                </div>
              </div>
  
              <div class="p-field col-md-6">
                <div class="p-grid p-fluid">
                  <div class="field col-12 ">
                    <label for="ifcon">Description</label>
                    <textarea id="description" formControlName="description" type="text" pInputText
                    placeholder="Enter description"> </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-accordionTab>
    </p-accordion>
    
    

    <span class="pfleft mt-2">

        <button pButton pRipple type="button" label="visualize" class="p-button-primary"
            [disabled]="!selectedTransports || !selectedTransports.length"></button>
          &nbsp;

         
            <p-checkbox [(ngModel)]="backToReadyForBill"  [binary]="true" inputId="binary"></p-checkbox>
            <!-- <label for="binary">{{backToReadyForBill}}</label> -->
        
            &nbsp;

          <button pButton pRipple (click)="saveCredit()" label="Add-Credit-Note" class="p-button-warning"></button>
      </span>
  
  </div>