<div class="main_container">
  <div class="row">
    <a routerLink="/transporterBilling/list" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a>
  </div>

  <div class="row">

    <mat-card>
      <form [formGroup]="carrierSaveBillForm">
        <div class="modal-body row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-12 flex">
                <div class="p-fluid">
                  <div class="field">
                    <label for="numOt" class="text-primary">Num OT <span class="text-danger">*</span></label>
                    <p-autoComplete formControlName="numOt" inputId="icon" InputSearchDirective
                      (onSelect)="getCarrierBillInformation($event)"
                      [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['carriersRef'] }" [suggestions]="carriers" (keydown.enter)="getOtCodes($event)"
                       autocomplete="rutjfkde" field="name"
                      placeholder="Choose Carrier">
                      <ng-template let-carriers pTemplate="item">
                        <div class="customer-item">
                          <div>{{carriers.name}}</div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="carrierName" class="text-primary">Carrier <span class="text-danger">*</span></label>
                    <input id="carrierName" type="text" formControlName="carrierName" pInputText
                      placeholder="Carrier name">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-6 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="selectedOt" class="text-primary">OT(s) Selected<span
                        class="text-danger">*</span></label>
                    <input id="selectedOt" type="text" formControlName="selectedOt" pInputText
                      placeholder="Selected OT">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-6 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="numBill" class="text-primary">Bill Number <span class="text-danger">*</span></label>
                    <input id="numBill" type="text" formControlName="numBill" pInputText placeholder="Enter Bill Number">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-6 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="status" class="text-primary">Status <span class="text-danger">*</span></label>
                    <ng-select [loading]="spinner" [items]="allStatus" bindLabel="name" formControlName="status" [(ngModel)] = "status" >
                    </ng-select>
                    <span class="text-danger">
                      {{ formErrors?.['status'] }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="amount" class="text-primary">Amount Ots <span class="text-danger">*</span></label>
                    <input id="amount" type="text" formControlName="amount" pInputText placeholder="amount">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-3 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="discount" class="text-primary">Discount <span class="text-danger">*</span></label>
                    <input id="discount" type="number" formControlName="discount" pInputText
                      placeholder="discount Number">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-3 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="amountEdited" class="text-primary">Amount Edited <span
                        class="text-danger">*</span></label>
                    <input id="amountEdited" type="number" formControlName="amountEdited" pInputText
                      placeholder="Montant Nodifier">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-3 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="status" class="text-primary">Deadlines <span class="text-danger">*</span></label>
                    <ng-select [loading]="spinner" [items]="dateLine" bindLabel="name" formControlName="deadlines" [(ngModel)] = "dateLineDevfauld">
                    </ng-select>
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-4 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="carriersRef" class="text-primary">Date Emission <span
                        class="text-danger">*</span></label>
                    <p-calendar formControlName="dateIssued"  dateFormat="dd/mm/yy"
                      inputId="dateIssued" [showTime]="false" appendTo="body" [showSeconds]="false"
                      placeholder="{{currentDate}}">
                    </p-calendar>

                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-4 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="receptionDate" class="text-primary">Date Reception <span
                        class="text-danger">*</span></label>
                    <p-calendar formControlName="receptionDate" (onSelect)="addDate()" dateFormat="dd/mm/yy"
                      inputId="receptionDate" [showTime]="false" appendTo="body" [showSeconds]="false"
                      placeholder="{{currentDate}}">
                    </p-calendar>
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-4 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="carriersRef" class="text-primary">Date Echéance <span
                        class="text-danger">*</span></label>
                    <p-calendar formControlName="dueDate" [disabled]="true" [(ngModel)]="dueDate" dateFormat="dd/mm/yy"
                      placeholder="{{currentDate}}" inputId="dueDate"></p-calendar>
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-5 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="bic" class="text-primary">Bic <span class="text-danger">*</span></label>
                    <input id="bic" type="text" formControlName="bic" pInputText placeholder="Enter Bic">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-5 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="iban" class="text-primary">iban <span class="text-danger">*</span></label>
                    <input id="iban" type="text" formControlName="iban" pInputText placeholder="Enter Iban">
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-2 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <span></span><br>
                    <p-inputSwitch [(ngModel)]="checked1"></p-inputSwitch>
                  </div>
                </div>
              </div>

              <div class="col-12 flex mt-3">
                <div class="p-fluid">
                  <div class="field">
                    <label for="carriersRef" class="text-primary">Informations <span
                        class="text-danger">*</span></label>
                    <textarea id="comment" formControlName="informations" type="text" rows="4" [autoResize]="true"
                      pInputTextarea placeholder="Type a comment here"></textarea>
                    <span class="text-danger">
                      {{ formErrors?.['carriersRef'] }}
                    </span>
                  </div>
                </div>

                <span class="pfleft mt-2">
                  <button pButton pRipple type="button" label="visualize" class="p-button-primary"
                    [disabled]="!selectedTransports || !selectedTransports.length"></button>
                  &nbsp;
                  <button pButton pRipple (click)="saveInvoce()" label="Billing" class="p-button-warning"
                    [disabled]="!selectedTransports || !selectedTransports.length"></button>
                  </span>

              </div>

            </div>

          </div>

          <div class="col-md-6">

            <div class="card">
              <p-table [value]="transports" [rows]="2" responsiveLayout="scroll" [(selection)]="selectedTransports"
                [rowHover]="true" [showCurrentPageReport]="true" responsiveLayout="scroll">
                
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th> OT Code</th>
                    <th>price</th>
                    <th>Discount</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transports>
                  <tr style="width: 3rem">
                    <td>
                      <p-tableCheckbox [value]="transports"></p-tableCheckbox>
                    </td>
                    <td>{{transports.code}}</td>
                    <td>{{transports.price}}</td>
                    <td pEditableColumn>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="number" formControlName="transportdiscout" [(ngModel)]="transports.transportdiscout">
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{transports.transportdiscout}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
               
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between">
                    In total there are 0000 Invoice.
                  </div>
                </ng-template>
              </p-table>
            </div>

          </div>

        </div>
      </form>

    </mat-card>

  </div>






</div>