.order-button {
    display: flex;
    justify-content: flex-end;
}

.card-header {
    position: absolute;
}
.card-header-divider {
    position: relative !important;
}
.left-item {
    float: left;
}
.right-item {
    float: right;
}
.item {
    display: block;
}
:host >>> ngx-skeleton-loader .loader {
  height: 500px !important;
}
:host ::ng-deep .card-container {
    .card {
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        user-select: none;
        padding: 0;

        &.primary-box {
            background-color: var(--primary-color);
            padding: 0;
            color: var(--primary-color-text);
        }

        &.styled-box-green {
            .p-ink {
                background: rgba(#4baf50, 0.3);
            }
        }

        &.styled-box-orange {
            .p-ink {
                background: rgba(#ffc106, 0.3);
            }
        }

        &.styled-box-purple {
            .p-ink {
                background: rgba(#9c27b0, 0.3);
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


//Walter global css *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
.sub-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--regular-size);
}


.spacer {
  height: 1.2rem;
}

.filteredElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
 background-color: #d5e2f7;
 color: var(--secondBackground-color);
 padding: .3rem;
 border-radius: .4rem;
 margin: 0 1rem;
  position: relative;
  //margin-left: .8rem;
  display: inline-block;

}
.badgeW {
    position: absolute;
    /* z-index: 3; */
    border-radius: 50%;
    background-color: #fbeaea;
    color: #0c143c;
    height: 1.5rem;
    width: 1.5rem;
    top: -8px;
    font-weight: 600;
    right: 2.8;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border: 3px solid #D38CBC
}

label {
  width: max-content;
}


.addButton {
  padding:.8rem;
  height:2rem;
  background: var(--myprimary-color);
  border: 1px solid var(--myprimary-color);
  font-size: 11px ;
}

.addButton:hover {
   background: #818D9F;
  border: 1px solid  #818D9F;
}

.searchAndOrder {
  display: flex;
  justify-content: space-between;
}

.cardContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

  .col-6 {
  width: 100%;
}
// .card {
//   width: 50%;
//   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

// }

// .cardHeader {
//   padding: 1rem;
//   display: flex;
//   justify-content: space-between;
// }
.spacer {
  height: 1rem;
}

@media screen and (max-width: 1204px) and (min-width: 550px){
  .col-6 {
  width: 50%;
}

.ng-select.fixInputWidth ::ng-deep .ng-select-container {
  width: 15rem;
}
.spacer {
  height: 1.2rem;
}

.filteredElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-soon {
 background-color: #d5e2f7;
 color: var(--secondBackground-color);
 padding: .3rem;
 border-radius: .4rem;
 margin: 0 .5rem;
}
}
@media screen and (max-width: 2400px) and (min-width: 1204px){
  .addButton {
  font-size: var(--regular-size);
}
  .col-6 {
  width: 25%;
}

.spacer {
  height: 1.2rem;
}

.filteredElement {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coming-soon {
 background-color: #d5e2f7;
 color: var(--secondBackground-color);
 padding: .3rem;
 border-radius: .4rem;
 margin: 0 2rem;
}
}
