<div class="main_container">
  <div class="row">
    <div class="p-fluid">
      <p-sidebar [(visible)]="visibleSidebar4" position="bottom" [baseZIndex]="10000" [style]="{height:'75%'}">

          <form [formGroup]="searchForm" >
                <div class="row">
                  <div class="p-field col-sm-4">
                    <label for="loadCountryCode" class="text-primary">Load country</label>
                    <ng-select [loading]="spinner" [items]="countries" bindLabel="name" bindValue="code"
                      (change)="getCountriesByEvent($event)" (open)="getCountries()" formControlName="loadCountryCode"
                      placeholder="Load country">
                    </ng-select>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="loadCity" class="text-primary">Load city</label>
                    <p-autoComplete formControlName="loadCity" [suggestions]="cities" (completeMethod)="getCities($event)"
                      autocomplete="rutjfkde" field="name" placeholder="Load city">
                      <ng-template let-city pTemplate="item">
                        <div class="city-item">
                          <div>{{city.name}}</div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="loadZipCode" class="text-primary">Load zip code</label>
                    <p-dropdown [options]="zipCodes" formControlName="loadZipCode" optionLabel="name" placeholder="Load zip code">
                    </p-dropdown>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="unloadCountryCode" class="text-primary">Unload country</label>
                    <ng-select [loading]="spinner" [items]="countries" bindLabel="name" bindValue="code"
                      (change)="getCountriesByEvent($event)" (open)="getCountries()" formControlName="unloadCountryCode"
                      placeholder="Unload country">
                    </ng-select>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="unloadCity" class="text-primary">Unload city</label>
                    <p-autoComplete formControlName="unloadCity" [suggestions]="cities" (completeMethod)="getCities($event)"
                      autocomplete="rutjfkde" field="name" placeholder="Unload city">
                      <ng-template let-city pTemplate="item">
                        <div class="country-item">
                          <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                                                        [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                          <div>{{city.name}}</div>
                        </div>
                      </ng-template>
                    </p-autoComplete>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="unloadZipCode" class="text-primary">Unload zip code</label>
                    <p-dropdown [options]="zipCodes" formControlName="unloadZipCode" optionLabel="name"
                      placeholder="Unload zip code">
                    </p-dropdown>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="status" class="text-primary">Status</label>

                    <p-dropdown [options]="status" formControlName="status" optionLabel="name" placeholder="Select status">
                    </p-dropdown>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4">
                    <label for="param" class="text-primary ">Search</label>
                    <span class="p-input-icon-right">
                      <i class="pi pi-search"></i>
                      <input formControlName="param" type="text" pInputText placeholder="Search" />
                    </span>
                  </div>
                  <div class="spacer"></div>
                  <div class="p-field col-sm-4 pmt-2">
                    <button (click)="getOrdersByParam()"  (click)="visibleSidebar4 = false" pRipple pButton type="button"
                      class="purple search-button addButton" label="Load"
                      icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}" ></button>
                  </div>
                  <div class="spacer"></div>
                </div>
          </form>
      </p-sidebar>
    </div>
    <div class="spacer"></div>
    <mat-card>
      <mat-card-subtitle class="sub-title">
        <h1 class="bold">
          Open orders
        </h1>
        <span class="showDesktop">
          <p-overlayPanel #op  [showCloseIcon]="true" [style]="{width: '20rem'}" >
            <ng-template pTemplate>
                    <form [formGroup]="searchForm" >
                          <div style="display: flex;flex-direction:column;">
                            <div class="p-field col-6">
                              <label for="loadCountryCode" class="text-primary">Load country</label>
                              <ng-select [loading]="spinner" [items]="countries" bindLabel="name" bindValue="code"
                                (change)="getCountriesByEvent($event)" (open)="getCountries()" formControlName="loadCountryCode"
                               style="width: 15rem;" >
                              </ng-select>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6">
                              <label for="loadCity" class="text-primary">Load city</label>
                              <p-autoComplete [style]="{'width':'15rem'}" [inputStyle]="{'width': '100%'}"  formControlName="loadCity" [suggestions]="cities" (completeMethod)="getCities($event)"
                                autocomplete="rutjfkde" field="name" placeholder="">
                                <ng-template let-city pTemplate="item">
                                  <div class="city-item ">
                                    <div>{{city.name}}</div>
                                  </div>
                                </ng-template>
                              </p-autoComplete>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6">
                              <label for="loadZipCode" class="text-primary">Load zip code</label>
                              <p-dropdown [options]="zipCodes" [style]="{'width':'15rem'}" formControlName="loadZipCode" optionLabel="name" placeholder="">
                              </p-dropdown>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6">
                              <label for="unloadCountryCode" class="text-primary">Unload country</label>
                              <ng-select [loading]="spinner"  [items]="countries" bindLabel="name" bindValue="code"
                                (change)="getCountriesByEvent($event)" (open)="getCountries()" formControlName="unloadCountryCode"
                                placeholder="" style="width:15rem">
                              </ng-select>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6"  >
                              <label for="unloadCity" class="text-primary">Unload city</label>
                              <p-autoComplete  [style]="{'width':'15rem'}" [inputStyle]="{'width': '100%'}"  formControlName="unloadCity"  [suggestions]="cities" (completeMethod)="getCities($event)"
                                autocomplete="rutjfkde" field="name" placeholder="">
                                <ng-template let-city pTemplate="item">
                                  <div class="country-item">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png"
                                   [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                    <div>{{city.name}}</div>
                                  </div>
                                </ng-template>
                              </p-autoComplete>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6">
                              <label for="unloadZipCode" class="text-primary">Unload zip code</label>
                              <p-dropdown  [options]="zipCodes" [style]="{'width':'15rem'}"  formControlName="unloadZipCode" optionLabel="name"
                                placeholder="">
                              </p-dropdown>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6">
                              <label for="status" class="text-primary">Status</label>
                              <p-dropdown [options]="status"  [style]="{'width':'15rem'}"  formControlName="status" optionLabel="name" placeholder="">
                              </p-dropdown>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6">
                              <label for="param" class="text-primary">Search</label>
                              <span class="p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input formControlName="param" type="text"  pInputText style="width:15rem" placeholder="Search" />
                              </span>
                            </div>
                            <div class="spacer"></div>
                            <div class="p-field col-6 pmt-2" >
                              <button (click)="op.hide()" (click)="getOrdersByParam()" pRipple pButton type="button"
                                class="addButton" label="Load"
                                icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"></button>
                            </div>
                            <div class="spacer"></div>
                          </div>
                    </form>
            </ng-template>
          </p-overlayPanel>
          <div class="showDesktop">
            <div class="searchAndOrder ">
              <button type="text" pButton label="Search " icon="pi pi-search" class="addButton"
                (click)="op.toggle($event)"></button>
              <!-- <button pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo" icon="pi pi-search"
                    class="p-button-rounded p-button-secondary "  style="width:2rem;height:2rem;" ></button>
                    &nbsp; -->
              <a routerLink="/commercial/create" pRipple pButton type="button" class="p-button-warning purple addButton"
                label="Order" icon="pi pi-plus"></a>
            </div>
          </div>
        </span>
        <!-- <span class="showMobile">
          <button pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo" icon="pi pi-search"
            class="p-button-rounded p-button-secondary " (click)="visibleSidebar4 = true"
            style="width:2rem;height:2rem;"></button>
          &nbsp;
          <a routerLink="/commercial/create" pRipple pButton type="button" class="p-button-warning purple addButton"
            label="Order" icon="pi pi-plus"></a>
        </span> -->
        <div class="showMobile">
          <span class="searchAndOrder">
            <button label="Search" pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo"
              (click)="visibleSidebar4 = true" icon="pi pi-search" class="addButton"></button>
            <!-- <button pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo" icon="pi pi-search"
                class="p-button-rounded p-button-secondary " (click)="visibleSidebar4 = true"
                style="width:2rem;height:2rem;"></button> -->
            <!-- &nbsp; -->
            <a routerLink="/commercial/create" pRipple pButton type="button" class="p-button-warning purple addButton"
              label="Order" icon="pi pi-plus"></a>
          </span>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <div class="filteredElement">
          <div *ngIf="loadCity" [ngClass]="{'coming-soon':clicked }" >
           <span *ngIf="clicked">{{loadCity}}</span>
            <span *ngIf="clicked" (click)="setSearch(''+1)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="loadCountryCode" [ngClass]="{'coming-soon':clicked1 }">
          <span *ngIf="clicked1"> {{loadCountryCode}} </span>
            <span *ngIf="clicked1" (click)="setSearch(''+2)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="unloadCountryCode" [ngClass]="{'coming-soon':clicked2 }">
            <span *ngIf="clicked2">{{unloadCountryCode}}</span>
            <span *ngIf="clicked2" (click)="setSearch(''+3)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="loadZipCode" [ngClass]="{'coming-soon':clicked3 }">
            <span *ngIf="clicked3">{{loadZipCode}}</span>
            <span *ngIf="clicked3" (click)="setSearch(''+4)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="unloadCity" [ngClass]="{'coming-soon':clicked4 }">
            <span *ngIf="clicked4">{{unloadCity}}</span>
            <span *ngIf="clicked4" (click)="setSearch(''+5)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="param" [ngClass]="{'coming-soon':clicked5 }">
            <span *ngIf="clicked5">{{param}}</span>
            <span *ngIf="clicked5" (click)="setSearch(''+6)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="statusE" [ngClass]="{'coming-soon':clicked6 }">
            <span *ngIf="clicked6">{{statusE}}</span>
            <span *ngIf="clicked6" (click)="setSearch(''+7)" class="badgeW">
              x
            </span>
          </div>
          <div *ngIf="unloadZipCode" [ngClass]="{'coming-soon':clicked7 }">
            <span *ngIf="clicked7">{{unloadZipCode}}</span>
            <span *ngIf="clicked7" (click)="setSearch(''+8)" class="badgeW">
              x
            </span>
          </div>
        </div>
        <hr class="divider">
        <div class="row">
          <div class="col-md-3" *ngFor="let number of [0,1,2,3,4,5,6,7]">
            <!-- <app-seleton-loader  Cwidth="400" Cheight="250"></app-seleton-loader> -->

          </div>
        </div>
        <div class="row">
          <div class="col-6 mb-2" *ngFor="let order of obs | async">
            <mat-card>
              <mat-card-subtitle>
                <div class="cardContent">
                  <div class=" text-primary">{{ order.route[0].city }}</div>
                  <div *ngIf="order.route.length > 2" class="setWidth"><img
                      src="{{'../../../../assets/img/destinations.png'}}" style="width: 10px;" alt="" srcset=""></div>
                  <div *ngIf="order.route.length == 2" class=""><img src="../../../../assets/img/destination.png"
                      style="width: 20px;" alt="" srcset=""></div>
                  <div class="text-primary">{{ order.route.at(-1).city }}</div>
                </div>
              </mat-card-subtitle>
              <mat-card-content>
                <p><span class="text-darked">Customer references:</span> {{ order.customerRef }}</p>
                <p><span class="text-darked"></span>Prix: {{ order.price }}</p>
                <span class="text-darked">Du:</span> {{ order.route[0].dateStr | date: 'MM/dd/yyyy hh:mm' }}
                <span class="text-darked">Au:</span> {{ order.route.at(-1).dateStr | date: 'MM/dd/yyyy hh:mm' }}
              </mat-card-content>
              <mat-divider inset></mat-divider>
              <mat-card-actions>
                <a [routerLink]="['/commercial/detail', order.orderId]" pRipple pButton type="button"
                  class="p-button-warning purple addButton" label="Manage the order" icon="pi pi-window-maximize"></a>
              </mat-card-actions>
            </mat-card>
          </div>
          <!-- <div class="orderElement"  *ngFor="let order of obs | async" >
            <div class="card">
                <div class="cardHeader">
                  <div class="text-primary">{{ order.route[0].city }}</div>
                  <div *ngIf="order.route.length > 2" class="setWidth"><img src="{{'../../../../assets/img/destinations.png'}}"
                      style="width: 10px;" alt="" srcset=""></div>
                  <div *ngIf="order.route.length == 2" class=""><img src="../../../../assets/img/destination.png" style="width: 20px;"
                      alt="" srcset=""></div>
                  <div class="text-primary">{{ order.route.at(-1).city }}</div>
                </div>
            </div>
          </div> -->
        </div>
        <mat-paginator *ngIf="orders?.length>0" [pageSizeOptions]="[8, 16, 32, 64]"></mat-paginator>
        <div class="text-center">
          <img *ngIf="orders?.length===0" src="../../../../assets/img/nothing-found.png" alt="Nothing found">
            <div class="centered">
              <app-loader *ngIf="loader" ></app-loader>
            </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>
</div>

