<div class="main_container">
  <div class="row">
    <a routerLink="/billing/list" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a>
  </div>
 
  <div class="row mb-4"> 
    <mat-card>
      <form [formGroup]="searchCustomerForm">
        <div class="p-fluid">
          <div class="row">
            <div class="p-field col-md-3"></div>
            <div class="p-field col-md-1"></div>
            <div class="p-field col-md-3  flex align-items-center ">
              <label for="customerRef" class="text-primary">Customer name <span class="text-danger">*</span></label>
              <p-autoComplete formControlName="customerRef" inputId="icon" InputSearchDirective
                (onSelect)="getCustomerBillInformation($event)"
                [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['customerRef'] }" [suggestions]="customers"
                (completeMethod)="getCustomers($event)" autocomplete="rutjfkde" field="name"
                placeholder="Choose customer">
                <ng-template let-customer pTemplate="item">
                  <div class="customer-item">
                    <div>{{customer.name}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <span class="text-danger">
                {{ formErrors?.['customerRef'] }}
              </span>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>

  <mat-card>
    <div class="card">
      <p-table [value]="transportsList" [rows]="2" responsiveLayout="scroll" [(selection)]="selectedTransports"
        [rowHover]="true" [showCurrentPageReport]="true" responsiveLayout="scroll">

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Invoice Reference</th>
            <th>Date of loading</th>
            <th> OT Code</th>
            <th>Customer price</th>
            <th>Carrier</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transportsList>
          <tr style="width: 3rem">
            <td>
              <p-tableCheckbox [value]="transportsList"></p-tableCheckbox>
            </td>
            <td>{{transportsList.billingReference}}</td>
            <td>{{transportsList.loadDate | date}}</td>
            <td>{{transportsList.transportCode}}</td>
            <td>{{transportsList.amount}}</td>
            <td>{{transportsList.carrierName}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are 0000 Invoice.
          </div>
        </ng-template>
      </p-table>
    </div>
  </mat-card>

  <br>
  <p-accordion>
    <p-accordionTab header="Ajouter les informations supplémentaire">

      <form [formGroup]="customerInfoForm">
        <div class="p-fluid">
          <div class="row">
            <div class="p-field col-md-4">
              <div class="p-grid p-fluid">
                <div class="field col-12 ">
                  <label for="ifcon">vat</label>
                  <input type="text" formControlName="vat" class="form-control" placeholder="entrer vat">
                </div>
              </div>
            </div>
            <div class="p-field col-md-4">
              <div class="p-grid p-fluid">
                <div class="field col-12 ">
                  <label for="ifcon">Date Facturation</label> 
                  <p-calendar formControlName="facturationDate"  (onSelect)="addDate()"
                    dateFormat="dd/mm/yy"  inputId="facturationDate" [showTime]="false"
                    appendTo="body" [showSeconds]="false" placeholder="{{currentDate}}" >
                  </p-calendar>
                </div>
              </div>
            </div>

            <div class="p-field col-md-4">
              <div class="p-grid p-fluid">
                <div class="field col-12 ">
                  <label for="ifcon">Due date</label>
                  <p-calendar formControlName="dueDate" [disabled]="true" [(ngModel)]="dueDate" dateFormat="dd/mm/yy" 
                     placeholder="{{currentDate}}" inputId="dueDate"></p-calendar>
                </div>
              </div>
            </div>

          </div>
        </div>
        &nbsp;
        <div class="p-fluid">
          <div class="row">

            <div class="p-field col-md-6">
              <div class="p-grid p-fluid">
                <div class="field col-12 ">
                  <label for="ifcon">Comment</label>
                  <textarea id="comment" formControlName="comment" type="text" pInputText
                    placeholder="Enter comment"> </textarea>
                </div>
              </div>
            </div>

            <div class="p-field col-md-6">
              <div class="p-grid p-fluid">
                <div class="field col-12 ">
                  <label for="ifcon">Description</label>
                  <textarea id="comment" formControlName="description" type="text" pInputText
                    placeholder="Enter comment"> </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </p-accordionTab>
  </p-accordion>

  <span class="pfleft mt-2">
    <button pButton pRipple type="button" label="visualize" class="p-button-primary"
      [disabled]="!selectedTransports || !selectedTransports.length"></button>
    &nbsp;
    <button pButton pRipple (click)="saveInvoce()" label="Billing" class="p-button-warning"
      [disabled]="!selectedTransports || !selectedTransports.length"></button>
    </span>

    <!-- <button pButton pRipple (click)="saveInvoce()" label="Billing" class="p-button-warning"></button> -->
  <!-- </span> -->


</div>