<div class="main_container">
  <app-management-create-payment-method *ngIf="displayModal" [paymentMethodData]="selectedPaymentMethod"
    (actiontoPerformed)="getAllPaymentMethod()"></app-management-create-payment-method>


      <div class="previousAndAddCustomer">
        <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
          class="p-button-rounded back-button" style="color:#D38CBC!important"></a>
        <span>
          <a (click)="showModal()" pRipple pButton type="button" class="p-button-warning purple addButton"
            label="Add Customer" icon="pi pi-plus"></a>
        </span>
      </div>


    <!-- <a routerLink="/management/index" pButton pRipple type="button" icon="pi pi-arrow-left"
      class="p-button-rounded back-button"></a> -->

      <!-- <mat-card-subtitle class="sub-title">
        <span>
          <button pRipple pButton type="button" class="p-button-primary purple" label="Export"
            icon="pi pi-file-excel"></button>
        </span>
        <span class="p-left1">&nbsp;
          <button pRipple pButton type="button" (click)="showModal()" class="p-button-warning purple"
            label="Add paymentMethod" icon="pi pi-plus"></button>
        </span>
        <span class="p-left2">
          <button pButton pRipple type="button" data-bs-toggle="collapse" data-bs-target="#demo" icon="pi pi-search"
            class="p-button-rounded p-button-secondary"></button>
        </span>
      </mat-card-subtitle> -->
      <!-- <hr class="divider"> -->

      <form [formGroup]="searchForm">

          <div class="fixInCenter">
            <div class="searchContainer">
              <div style="display: flex;flex-direction:column">
                <label for="icoren" style="color:#818D9F!important ;">Parameter</label>
                <span class="p-input-icon-left ">
                  <input pInputText type="text" formControlName="param" placeholder="" class="p-inputtext-sm fixInputWidth" />
                  <i class="pi pi-search"></i>
                </span>
              </div>
              <div style="display: flex;flex-direction:column">
                <label for="ifcon" style="color:#818D9F!important ;">Status</label>
                <ng-select formControlName="status" placeholder="select" class="fixInputWidth">
                  <ng-option class="p-inputtext-sm" class="onTop" *ngFor="let status of allStatus" [value]="status.id">
                    {{ status.name }}
                  </ng-option>
                </ng-select>

              </div>
              <button (click)="searchPaymentMethod()" pRipple pButton type="button" class="p-button-warning purple" label="Search"
                icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"
                style="background-color:#D38CBC;border:#D38CBC;height: 2.2rem;">
              </button>

            </div>
          </div>
        <!-- <div class="row flex collapse"  id="demo">
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-2">
            <div class="p-grid p-fluid">
              <label for="icoren">Type</label>
              <span class="p-input-icon-left ">
                <input pInputText type="text" formControlName="type" placeholder="type..."
                  class="p-inputtext-sm" />
                  <i class="pi pi-search"></i>
              </span>
            </div>
          </div>
          <div class="col-md-2">
            <div class="p-grid p-fluid">
              <div class="field col-12 ">
                <label for="ifcon">Status</label>
                <span class="p-input-icon-left p-field col-md-2">
                  <ng-select formControlName="status" placeholder="select">
                    <ng-option class="p-inputtext-sm" class="onTop" *ngFor="let status of allStatus"
                      [value]="status.id">{{ status.name }}</ng-option>
                  </ng-select>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-2 offset-0">
            <div class="p-grid p-fluid pmt-2">
                  <button (click)="searchPaymentMethod()" pRipple pButton type="button" class="p-button-warning purple"
                  label="Search" icon="{{ spinner ? 'pi pi-spin pi-spinner' : 'pi pi-search' }}"></button>
            </div>
          </div>
        </div> -->
      </form>


    <mat-card>
      <div class="card">
        <p-table [value]="PaymentMethodList" [rows]="8" [paginator]="true" [globalFilterFields]="['type','description']"
          responsiveLayout="scroll" [(selection)]="selectedDriver" [rowHover]="true" dataKey="id"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true">
          <ng-template pTemplate="caption">
            <div class="flexHeader">
              <span>All Goods</span>
              <a pRipple (click)="exportExcel()" pButton type="button" class="p-button-warning purple addButton" label="Export"
                icon="pi pi-file-excel"></a>

            </div>

          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th  style="width: 10rem">type </th>
              <th>description</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-PaymentMethodList>
            <tr style="width: 3rem">
              <td>
                <p-tableCheckbox [value]="PaymentMethodList"></p-tableCheckbox>
              </td>
              <td>{{PaymentMethodList.type}}</td>
              <td>{{PaymentMethodList.description}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                  (click)="editPaymentMethod(PaymentMethodList)"></button>&nbsp;
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                  (click)="deletePaymentMethod(PaymentMethodList)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </mat-card>

</div>
