<div class="main_container">

  <div class="row mb-4"> 
    <div class="col-md-2" >
        <div class="p-grid p-fluid pmt-2">
          <a routerLink="/transporterBilling/transporterBillingAdd" pRipple pButton type="button" class="p-button-warning purple" label="Add Invoice"
  icon="pi pi-plus"></a>
        </div>
    </div>
</div> 

<div class="row mb-4"> 
    <mat-card>
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-2">
              <div class="p-grid p-fluid">
                <div class="field col-12 md:col-4">
                  <label for="icozn">Start date</label>
                  <input type="date" formControlName="startDate" value="{{currentDate}}" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="p-grid p-fluid">
                <div class="field col-12 md:col-4">
                  <label for="icozn">End date</label>
                  <input type="date" formControlName="endDate" value="{{currentDate}}" class="form-control">
                </div>
              </div>
            </div>
          <div class="col-md-2">
              <div class="p-grid p-fluid">
                <label for="icoren">Status</label>
                <select formControlName="status" class="form-select" placeholder="Status">
                  <option value="" disabled selected>Select status</option>
                  <option *ngFor="let item of invoiceType" value="{{ item.name }}">{{ item.name }}</option>
                </select>
              </div>
            </div>
          <!-- <div class="col-md-2">
            <div class="p-grid p-fluid">
              <label for="icoren"> Invoice Type</label>
              <select formControlName="invoiceType" class="form-select" placeholder="Invoice Type">
                <option value="" disabled selected>Invoice Type</option>
                <option *ngFor="let item of status" value="{{ item.name }}">{{ item.name }}</option>
              </select>
            </div>
          </div> -->
          <div class="col-md-2">
            <div class="p-grid p-fluid">
              <div class="field col-12 ">
                <label for="ifcon">customer name/ Num OT</label>
                <input type="text" formControlName="param" class="form-control" placeholder="customer name/ Num OT">
              </div>
            </div>
          </div>
          <div class="col-md-2 offset-0">
            <div class="p-grid p-fluid pmt-2">
              <button pButton pRipple type="submit" (click)="searchCarrierBill()" label="Search" icon="pi pi-search"
                class="p-button-warning"></button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>

<div class="row">
    <mat-card>
      <div class="card">
        <p-table [value]="carrierBillLists"   [rows]="30" [paginator]="true"
          responsiveLayout="scroll"
           dataKey="id"> 
      
          <ng-template pTemplate="header">
            <tr>
              <th >carrierCode</th>
              <th>carrierAddress</th>
              <th >Total HT(€)</th>
              <th >Vat</th>
              <th >Total TTC (€)</th>
              <th >Invoice date</th>
              <th >Due date</th>
              <th >Action</th>
            </tr>
          </ng-template>
  
             <ng-template pTemplate="body" let-carrierBillLists> 
             <tr>
              <td>{{carrierBillLists.carrierCode}}</td>
              <td>{{carrierBillLists.customerName}}</td>
              <td>{{carrierBillLists.amount}}</td>
              <td>{{carrierBillLists.carrierVat}}</td>
              <td>{{(carrierBillLists.amount * carrierBillLists.carrierVat)/100}}</td> 
              <td>{{carrierBillLists.billDate | date}}</td>
              <td>{{carrierBillLists.dueDate | date}}</td>
              <td><button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded"></button></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              In total there are 0000 Transport.
            </div>
          </ng-template>
        </p-table>
      </div>
    </mat-card>
  </div>

</div>
