<p-dialog header="{{ ObjecFromTransporterParentForUpdate ?  'Update Transporter':  'Transporter' }}"
  [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" (onHide)="closeModal()">

  <p-tabView>
    <p-tabPanel header="Transporter">
      <form [formGroup]="transporterForm" (ngSubmit)="addTransporter()">
        <div class="p-fluid">
          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="name" class="text-primary">Transporter Name <span class="text-danger">*</span></label>
              <input id="name" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['name'] }" formControlName="name"
                type="text" pInputText placeholder="Enter name">
              <span class="text-danger">
                {{ formErrors?.['name'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="tva" class="text-primary">VAT <span class="text-danger">*</span></label>
              <input id="tva" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['tva'] }" formControlName="tva"
                type="text" pInputText placeholder="Enter Vat">
              <span class="text-danger">
                {{ formErrors?.['tva'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="siren" class="text-primary">Siren<span class="text-danger">*</span></label>
              <input id="siren" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['siren'] }" formControlName="siren"
                type="text" pInputText placeholder="Enter siren">
              <span class="text-danger">
                {{ formErrors?.['siren'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="siret" class="text-primary">Siret<span class="text-danger">*</span></label>
              <input id="siret" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['siret'] }" formControlName="siret"
                type="text" pInputText placeholder="Enter Siret">
              <span class="text-danger">
                {{ formErrors?.['siret'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="countryCode" class="text-primary">Country Code<span class="text-danger">*</span></label>
              <input id="countryCode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['countryCode'] }"
                formControlName="countryCode" type="text" pInputText placeholder="Enter countryCode">
              <span class="text-danger">
                {{ formErrors?.['countryCode'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="city" class="text-primary">City<span class="text-danger">*</span></label>
              <input id="city" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['city'] }" formControlName="city"
                type="text" pInputText placeholder="Enter city">
              <span class="text-danger">
                {{ formErrors?.['city'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="address" class="text-primary">Address<span class="text-danger">*</span></label>
              <input id="address" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['address'] }"
                formControlName="address" type="text" pInputText placeholder="Enter Address">
              <span class="text-danger">
                {{ formErrors?.['address'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="zipcode" class="text-primary">zip Code<span class="text-danger">*</span></label>
              <input id="zipcode" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['zipcode'] }"
                formControlName="zipcode" type="text" pInputText placeholder="Enter zipcode">
              <span class="text-danger">
                {{ formErrors?.['zipcode'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="phone" class="text-primary">Number<span class="text-danger">*</span></label>
              <input id="phone" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['phone'] }" formControlName="phone"
                type="number" pInputText placeholder="Enter phone">
              <span class="text-danger">
                {{ formErrors?.['phone'] }}
              </span>
            </div>
          </div>

          <div class="row mt-2">
            <div class="p-field col-md-3">
              <label for="fax" class="text-primary">fax</label>
              <input id="fax" 
                type="text" pInputText placeholder="Enter fax">
              <!-- <span class="text-danger">
                {{ formErrors?.['fax'] }}
              </span> -->
            </div>

            <div class="p-field col-md-3">
              <label for="email" class="text-primary">email</label>
              <input id="email" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['email'] }" formControlName="email"
                type="text" pInputText placeholder="Enter email">
              <span class="text-danger">
                {{ formErrors?.['email'] }}
              </span>
            </div>

            <div class="p-field col-md-3">
              <label for="licenceDate" class="text-primary">licence Date</label>
              <input id="licenceDate" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['licenceDate'] }"
                formControlName="licenceDate" type="date" pInputText placeholder="Enter licenceDate">
              <span class="text-danger">
                {{ formErrors?.['licenceDate'] }}
              </span>
            </div>
            <div class="p-field col-md-3">
              <label for="licenceUrl" class="text-primary">licence</label>
              <input id="licenceUrl" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['licenceUrl'] }"
                formControlName="licenceUrl" type="text" pInputText placeholder="Enter licenceUrl">
              <span class="text-danger">
                {{ formErrors?.['licenceUrl'] }}
              </span>
            </div>
          </div>

            <div class="row mt-3">
              <div class="p-field col-md-3">
                <label for="assuranceDate" class="text-primary">Assurance Date</label>
                <input id="assuranceDate" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['assuranceDate'] }"
                  formControlName="assuranceDate" type="date" pInputText placeholder="Enter assurance Date">
                <span class="text-danger">
                  {{ formErrors?.['assuranceDate'] }}
                </span>
              </div>

              <div class="p-field col-md-3">
                <label for="assuranceUrl" class="text-primary">Assurance</label>
                <input id="assuranceUrl" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['assuranceUrl'] }"
                  formControlName="assuranceUrl" type="text" pInputText placeholder="Enter assuranceUrl">
                <span class="text-danger">
                  {{ formErrors?.['assuranceUrl'] }}
                </span>
              </div>

              <div class="p-field col-md-3">
                <label for="paymentPeriod" class="text-primary">payement_period</label>
                <input id="paymentPeriod" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['paymentPeriod'] }"
                  formControlName="paymentPeriod" type="number" pInputText placeholder="Enter payement period">
                <span class="text-danger">
                  {{ formErrors?.['paymentPeriod'] }}
                </span>
              </div>
            

          </div>
          <div class="row mt-2">
            <div class="p-field col-md-12">
              <label for="comment" class="text-primary">Comment</label>
              <textarea id="comment" [ngClass]="{ 'ng-invalid ng-dirty': formErrors?.['comment'] }"
                formControlName="comment" type="text" pInputText placeholder="Enter comment"> </textarea>
              <span class="text-danger">
                {{ formErrors?.['comment'] }}
              </span>
            </div>
          </div>
        </div><br><br>

        <span class="pfleft">
          <button pButton pRipple type="button" (click)="displayModal = false" label="Cancel"
            class="p-button-danger"></button>&nbsp;&nbsp;
          <button pButton pRipple type="button"
            (click)=" ObjecFromTransporterParentForUpdate ? updateTransporter() :  addTransporter()"
            class="p-button-warning"
            label="{{ObjecFromTransporterParentForUpdate ? 'Update Transporter':'Add Transporter' }}"></button>
        </span>
      </form>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
